[2017-07-06 02:56] SidMcLaughlin commented on #297
@TorchwoodPL It looks like there is no data in [encounters.csv](https://github.com/PokeAPI/pokeapi/blob/master/data/v2/csv/encounters.csv) for pokemon_id < 10.  I checked https://veekun.com which seems to be the source of the data and they too have missing locations https://veekun.com/dex/pokemon/bulbasaur/locations

[2017-07-08 05:17] arvindsinghtomar opened #298 "asking for captcha code"
when i tried to call Api from retrofit android it is asking me to check captcha code before api response. How to do i bypass captcha code ?

[2017-07-08 11:54] Naramsim commented on #298
Where are you? In Asia?

[2017-07-08 12:27] Naramsim commented on #297
Closing since we fetch data from Veekun, maybe we could open an issue there.

[2017-07-08 12:27] #297 closed

[2017-07-10 05:00] arvindsinghtomar commented on #298
yes India , it is working well in real devices but not working on emulators.

[2017-07-10 08:55] Naramsim commented on #298
Maybe it is a problem of UA string

[2017-07-12 05:02] aldoKelvianto commented on #298
This happens to my devices too. My current solution is to use VPN and connect with United States API

[2017-07-12 08:27] phalt commented on #298
About a year ago we had sustained DDOS traffic from East Asia, with no obvious way to figure out the IP address range. Solution was to heavily limit traffic from there through Cloudflare. There isn't much I can do here I'm afraid.

[2017-07-25 02:44] jonatasbaldin opened #299 "Implement GraphQL"
Hi there!

I was thinking about implementing GraphQL (with Graphene) in the PokeAPI, what do you think about that?

[2017-07-25 03:17] tdmalone commented on #299
Hi there,

Someone has done this already I believe! See https://github.com/pfaze/graphql-workshop. I haven't looked at it but you may want to check that out before starting on it yourself :)

You could also come join us in Slack to discuss if you like - see https://pokeapi-slack-invite.herokuapp.com/ for an invite.

[2017-07-25 06:27] TorchwoodPL opened #300 "Export error on python 3.5"
[code]

Can it be easy fiaxable?

[2017-07-25 10:29] Naramsim commented on #300
Right now Pokeapi is made only for Python 2.x

You could dive in the code and submit a PR to make it work with Python 3.x

[2017-07-25 10:31] Naramsim commented on #299
Implementing a GraphQL server would be awesome since you only request resources you actually need.
Could be called, Pokeapi v3

Try to communicate with @pfaze, @jonatasbaldin

[2017-07-25 10:32] #298 closed

[2017-07-25 12:25] jonatasbaldin commented on #299
@tdmalone I think this implementation is just an example, not implementing everything. Also, it's on nodejs, I think we could do it in Python.

@Naramsim would be awesome indeed, but don't need the `v3`, since GraphQL is another unique endpoint, we can keep both it and `v2` running side by side.

Anyways, will join the Slack and start de discussion there.

[2017-07-25 14:28] cweeks12 opened #301 "Update to Python 3"
I'm working on updating the api to Python 3. I'm not sure how long this will take; it seems simple right now, but I'm just starting on it. I'm opening this issue to let people know I'm working on it. I forked the repo and you can see the progress here: https://github.com/cweeks12/pokeapi.

[2017-07-25 15:22] Naramsim commented on #301
Perfect, thanks for your effort.

The main impact on performance will come when upgrading Django dependency. Remember to target Python 3.6

[2017-07-25 15:23] Naramsim commented on #299
Yeah, for sure, right now we are running v1 and v2 versions

[2017-07-25 15:28] Naramsim commented on #301
Also, @cweeks12, if you want you can drop Django, which is a little bit slow, and use [Sanic](https://github.com/channelcat/sanic)

Obviously, you can replace only the API server, not the entire docs server(which uses Django templating)

[2017-07-25 18:28] cweeks12 commented on #301
I really like what I'm seeing with that Sanic. I think I'll move it all over to that.

I haven't looked at the code a ton yet, but should I move the API v1 to Python 3/Sanic as well? Or should I just focus on moving v2 and dropping v1?

[2017-07-25 19:20] Naramsim commented on #301
Nono, v1 is not maintained anymore, just leave as it is now, or remove it, to make things clear

[2017-07-26 08:45] pfaze commented on #299
Hi!

My implementation was meant as an introduction into GraphQL as well as building apps with nodejs. Wanted something nicer then a hello world example so I used pokeapi as a backend for it :). So not a full implementation of the api :). I might add some more features to it in the future as I am using it in some of the workshops I give at my job.

Having a dedicated GraphQL api for pokeapi would

[2017-07-27 13:30] cweeks12 commented on #301
Okay, I think I've decided that I'm going to use Sanic instead of django for the framework, and then instead of using the built-in django database api, I think I may move over to peewee and just keep the sqlite database intact. Thoughts?

[2017-07-27 13:46] cweeks12 commented on #301
This [stackoverflow answer](https://stackoverflow.com/questions/39803746/peewee-and-peewee-async-why-is-async-slower) has me leaning towards just regular peewee, instead of the async flavor, but I just want know what everyone else thinks, if I'm on the right track or completely off the rails

[2017-07-29 14:51] Naramsim commented on #301
Yep, the important is to have the API working, once it is working we can think about non-API relative things, such as Docs and Landing page. But it will be pretty simple to plug them in since those are HTML pages.

[2017-07-29 14:55] Naramsim commented on #301
@cweeks12 keep in mind that on Pokeapi server we are using Postgres, SQLite is just a quick alternative.
https://github.com/PokeAPI/pokeapi/blob/8ce2bedf063207ea45a20143d5d7ac87f800cfbd/data/v2/build.py#L73

[2017-07-31 09:33] phalt commented on #301
Few things:

1) Please don't remove V1. It is still the most used part of the API and will break a bunch of old integrations if we remove it. (the price of managing APIs is always maintaining versions).
2) Moving away from Django will be tricky, considering the server configuration is built around it!
3) If you're planning on using SQLite in production you'll have a tricky time with the number of

[2017-07-31 09:41] Naramsim commented on #301
Maybe @phalt we can create a totally different API server and run it alongside V1 and V2. Thus creating a new repo with @cweeks12 work.

[2017-07-31 09:42] phalt commented on #301
That would work. That type of URL routing/nginx config is beyond me, though! So some contributions there would be useful.

[2017-07-31 14:02] cweeks12 commented on #301
Ah, I assumed since SQLite built on my machine, that's what was used in production. My bad. I will use PostgreSQL.

I think from what I'm seeing, I am now leaning towards just updating the Django to the latest version and making it compatible with Python 3. That sounds like the simplest fix right now. I don't want to have to have to spin up a completely different server just to support Python 3. T

[2017-07-31 14:04] phalt commented on #301
@cweeks12 no problem. Sorry I didn't chime in earlier. I've done a fair few Py2k -> Py3k upgrades in the past. I know PokeAPI has some stuff to be changed to support it, but I think we can get it into a Py3k state with less effort than we assume.

[2017-07-31 14:20] cweeks12 commented on #301
@phalt That's okay. This is my first upgrade like this, and frankly my first experience with web frameworks/anything web, so I think it's a big learning experience for me, since I saw the [Beginner Friendly] tag. I'll see if I can make those changes quick and get them pulled in for everyone and we'll save the big update for another day.

[2017-07-31 14:31] phalt commented on #301
@cweeks12 what I've found with Py3k upgrades is: it's mostly just figuring out how to do the same line of code in the new format, and then all places in the code just need to be copy/pasted to that. It's tedious more than difficult :) But it is a good way to learn!

[2017-08-21 08:57] iffanmajid commented on #135
how to set user agent for this API?

[2017-08-22 09:03] martinpeck commented on #135
@iffanmajid exactly how you go about setting the user-agent will depend upon the language/framework/library you're using to call the API

I suspect you're actually asking "what should I set the user-agent to". Just set it to *something* other than the default/nothing. So, if you have an app called "my test app" set it to that. You can see that I set it to "cheese" in my gist (https://gist.github.c

[2017-08-24 03:59] iffanmajid commented on #135
@martinpeck I've tried using chrome to change user agent.

[2017-09-11 20:20] Exergist commented on #163
I see that this issue was closed on June 12 but as of this writing Silcoon is still the only 2nd evolution of Wurmple in the database (Cascoon is still buried within Silcoon's evolution data). Any thoughts about when this might actually be resolved? Thanks!

[2017-09-11 21:05] tdmalone commented on #163
All the open issues were closed three months ago when PokeAPI was about to shut down, but that decision was then reversed. It might be worth someone with the proper privs reopening this issue - as well as most of the other recently closed ones?

[2017-09-11 21:58] sargunv commented on #163
I don't currently have the time to look at this, but I'll go ahead and reopen for visibility.

[2017-09-11 22:02] cweeks12 commented on #301
I was a lot busier than I thought the second half of my summer, and I wasn't able to do much upgrading, and now I'm back in school, so I can't really do anything on this anymore. Sorry guys, but someone else is going to have to do this.

[2017-09-11 23:25] tdmalone commented on #293
Could someone re-open this one? Still appears to be an issue. Thx!

[2017-09-12 10:16] phalt commented on #301
No problem man, life comes first.

[2017-09-18 12:35] Germaniac commented on #135
Doesn't work with changed user agent on python for me

[2017-09-18 13:17] martinpeck commented on #135
@Germaniac I've just re-tried my Gist (linked above) in IDLE, using Python 3.6.2, and it works for me. Specifically, this code works fine...

[code]

[2017-09-18 13:23] martinpeck commented on #135
In fact, if you want to see it working you can visit this Trinket.io page...

https://trinket.io/python3/651e9ef2b5

[2017-09-19 06:58] Germaniac commented on #135
Your gist doesn't work on my IDLE, I wonder why...

[2017-09-19 07:11] martinpeck commented on #135
If you post the details of your error, I might be able to help.

[2017-09-19 09:20] Germaniac commented on #135
`Traceback (most recent call last):
  File "C:/Users/User/Downloads/poke.py", line 29, in <module>
    result1 = this_works(1)
  File "C:/Users/User/Downloads/poke.py", line 24, in this_works
    data = urllib.request.urlopen(request).read()
  File "C:\Users\User\AppData\Local\Programs\Python\Python36-32\lib\urllib\request.py", line 223, in urlopen
    return opener.open(url, data, timeout)
  File

[2017-09-21 02:24] dwicao commented on #289
still don't work 😭
![image](https://user-images.githubusercontent.com/17260743/30676117-9f3fb7d8-9eae-11e7-93a4-1aa1dd8f927c.png)

[2017-09-27 13:15] JacobDB opened #303 "Add Generation 7"
It appears that [generation 7 pokemon](https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number#Generation_VII) are missing from the API.

[2017-09-27 14:33] Naramsim commented on #303
We all know, we take our data from veekun. Apparently, the data was added to their [CSV files](https://github.com/veekun/pokedex/blob/master/pokedex/data/csv/pokemon.csv) as suggested in the slack channel.

@phalt, could you please try to build the new database on the official server and see if it works with no additional changes to the codebase?

Thanks, @JacobDB for pointing that out.

[2017-09-27 18:15] iHaruku opened #304 "Move flavor_text_entries shows the wrong data type."
On the documentation for Move ([docs](https://pokeapi.co/docsv2/#moves)) the flavor_text_entries shows a data type of Move, but it should be a list of MoveFlavorText. Another thought... MoveFlavorText and VersionGroupFlavorText are the same thing. They have identical properties. Was that intentional?

[2017-09-27 20:50] Naramsim commented on #303
Tomorrow I will open the PR, everything works 🎆

[2017-09-28 20:44] antilama commented on #289
My app also stopped working few days ago due to similar error.
![cors](https://user-images.githubusercontent.com/31658145/30989614-9207bd68-a49e-11e7-8ddb-0c9def476e03.png)

[2017-09-29 04:36] Mjain10 commented on #289
I have the same problem, can't seem to find a fix to it

[2017-09-29 12:58] Naramsim commented on #289
Probably is something related to our CDN provider, CloudFlare.

Try to make direct HTTPS calls

[2017-09-29 15:29] antilama commented on #289
Calling API through HTTPS solved the issue for me, although I don't really understand how.

[2017-09-29 15:42] Naramsim commented on #289
@antilama Probably our Cloudflare when redirecting http to https (somebody probably enabled HSTS) strips away our 'Access-Control-Allow-Origin' header.

If this solution work for @Mjain10 we can close

[2017-09-30 01:13] Mjain10 commented on #289
I'm getting a 504 error instead when using https
<img width="414" alt="issue" src="https://user-images.githubusercontent.com/22925491/31040901-d4732f22-a541-11e7-8797-35a8ffc7c4cf.png">

[2017-09-30 07:34] arfianadam commented on #289
I still get this exact problem. Switched to https and still na da. Any fix?

[2017-09-30 07:45] arfianadam commented on #289
Https request also requires Cloudflare verification which is not usable on client-side API calls.

[2017-09-30 11:38] Naramsim commented on #289
So Cloudflare messes up the request. If anybody could investigate...

[2017-10-01 05:38] mbapna123 opened #306 "CORS Issue"
This is a very specific question but I am trying to access the PokeAPI V1 and V2 and they seem to behave differently.
My code for both is

$.ajax({
  type:"GET",
  dataType: "jsonp",
  url: (Uone or Utwo)
  success: function(dataone)
  {*somefunction
  }})

. When I put in the url from the pokeAPI V1 it works but when I put in the url from the pokeAPI V2 it gives me an error that Unexpected Error

[2017-10-01 09:14] Naramsim commented on #306
The issue abaout CORS is related to #289. Discuss the issue there.

dataType in your example should be "json", but I'm not a jQuery master.

[2017-10-01 09:18] Naramsim commented on #304
flavor_text_entries is an array of MoveFlavorText, note the square bracket.

Yes, it probably was intentional.

[2017-10-01 11:56] iHaruku commented on #304
Yes, but if you scroll down it shows flavor_text_entries as type Move.

[code]

[2017-10-01 12:43] Naramsim commented on #304
Yeah, but if you click it it will bring you to the correct moveflavortext

So it is just a typo. I'm closing this

[2017-10-01 12:43] #304 closed

[2017-10-01 12:45] #300 closed

[2017-10-03 23:02] dwicao commented on #289
Yeah, cloudflare messes up the request.
Change API endpoints from http://pokeapi.co/api/v2 to http://pokeapi.salestock.net/api/v2
It works! 🎉 🎉 🎉

[2017-10-04 09:57] #306 closed

[2017-10-08 00:03] HansWurst90 opened #307 "Wrong evolution chain for Wurmple?"
[JSON-Response](https://pokeapi.co/api/v2/evolution-chain/135/)

To me it looks like the chain shows:
wurmple -> silcoon -> ( beautifly | cascoon - > dustox )

I hope this visualization makes it clear.

[2017-10-08 10:51] Naramsim commented on #307
Refer to #163, when #305 will be merged it will be fixed.

[2017-10-08 10:51] #307 closed

[2017-10-08 16:16] HansWurst90 commented on #307
Oh, sorry, I did not see that issue. My bad.

[2017-10-10 08:30] krinsane commented on #289
Even with http://pokeapi.salestock.net/api/v2, it works fro sometime and later it stops working with the same CORS as the issue. What can be done?

[2017-10-10 09:51] Naramsim commented on #289
As a temporary remedy, you can try cors.now.sh

https://cors.now.sh/https://pokeapi.co/api/v2/pokemon/1/

[2017-10-15 09:13] KingDGrizzle commented on #303
_bump_

Any news about this? It would be awesome to get Gen 7, so that we can get any info "required" by our "services" (should we need to :P)

[2017-10-15 09:30] Naramsim commented on #303
@KingDGrizzle while waiting for merge, you can spin up a local server with this PR https://github.com/PokeAPI/pokeapi/pull/305

[2017-10-18 13:44] Kronopt commented on #140
The V2 documentation still mentions the existence of the modified/created datetime stamps, but no resource that I sampled has it implemented.

Is it going to be implemented at all?
If not, I think the information in the documentation regarding the modified/created attributes should be removed

[2017-10-18 15:25] visionpoint opened #308 "Requests to the V2 API time out sometimes"
**Issue**: the server returns a 504 Gateway time-out error seemingly at random times throughout the day. This has happened more than once in one day. See screenshot.

**Description**: I've been working on an app recently that uses the V2 of the PokeAPI, and I'm not making too many requests per day while testing. Sometimes, I haven't made any requests in a while, and I get this 504. Have you been e

[2017-10-18 16:37] Naramsim commented on #308
The error is not related to rate-limiting. It is related to downtimes, probably someone (@phalt) is working on the official server

[2017-10-18 16:38] Naramsim commented on #140
Yep, it should be removed, can you open a PR for this?

[2017-10-19 08:24] phalt commented on #308
Haven't touched it :( I saw quite a lot of malicious traffic from Ukraine over the past week. Appears to have gone down now.

[2017-10-20 19:55] visionpoint commented on #308
I understand. Any logs that you could kindly check to see what could've happened, @phalt ? Since this is an issue I saw over the course of several days, it's possible it isn't an isolated one and can reoccur.

[2017-10-22 13:33] jamezilla0 opened #310 "Fixture Not Found: dev-data-.json"
Alright, I finally got everything working for my make file, however, there seems to be missing a crucial fixture of data: dev-data.json

Here is the error:

[code]

[2017-10-22 17:50] Naramsim commented on #310
Is this a warn, or is it an error?

Does the process keep going?

[2017-10-22 18:46] jamezilla0 commented on #310
It is an error as I can no longer continue.

On Sun, Oct 22, 2017 at 1:50 PM, Alessandro Pezzè <notifications@github.com>
wrote:

[2017-10-25 09:02] #303 closed

[2017-10-27 16:27] usagi-f opened #311 "animation sprites"
I want to use animate sprites, but only the still picture (png) can be referred from the current API.
Can not replace with animation gif ?

### e.g.
**png**
https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/722.png

**gif**
http://www.pkparaiso.com/imagenes/sol-luna/sprites/animados/rowlet.gif

---

The source is listed here.
https://www.pkparaiso.com/pokedex/rowlet.php

[2017-10-27 16:29] phalt commented on #311
Let's add them, not replace the existing ones.

[2017-10-27 17:27] Naramsim commented on #311
Images should be added to the Sprites' repo

[2017-10-27 17:30] usagi-f commented on #311
sounds good 😋

I imagined the following format.

[code]
or
[code]

Recommend the latter.

[2017-10-27 17:32] Naramsim commented on #311
Yep, if somebody wants to scrape them could use this website: http://play.pokemonshowdown.com/sprites/xyani/

I already made a script for scraping on that website 60fps GIFS: https://github.com/Naramsim/PokemonSpritesScraper

[2017-10-28 02:20] tdmalone commented on #311
Feel free to make use of the animations in here if you like: https://github.com/tdmalone/pokecss-media

[2017-10-28 02:40] JordanMajd opened #312 "Documentation shows HTTP instead of HTTPS"
The home page docs show `http://pokeapi.co/api/v2/` as the URL but hitting it returns a `301 Moved Permanently` to `https://pokeapi.co/api/v2/`.

Normally this is not much of an issue as most tools automatically handle the redirect, but some do not.  `curl` is one of these.

I normally use `curl` to test out an API and was curious when `curl http://pokeapi.co/api/v2/` did not print anything. I ran

[2017-10-28 03:18] tdmalone commented on #312
I _think_ the https was a recent move, so I’m sure updating the docs wouldn’t go astray!

As a side note - and you may know this anyway - you can pass the ‘--location’ switch to curl to cause it to follow redirects.

[2017-10-30 09:54] phalt commented on #312
It was very recent. A PR will a grep/replace of http -> https would be easily accepted :)

[2017-11-01 06:40] darkdrew opened #313 "pokeapi.co’s server DNS address could not be found."
Hi, is the pokeapi no longer available? Today i tried to enter the page: http://pokeapi.co/ it does not work anymore. Can anyone help me?

[2017-11-01 06:44] VidushanK commented on #313
Doesn't work for me as well

[2017-11-01 09:19] phalt commented on #313
Lol I forgot to renew the domain

[2017-11-01 09:21] phalt commented on #313
Okay paid. Might take a while to come back up.

[2017-11-01 13:16] darkdrew commented on #313
thank you!

[2017-11-01 13:16] #313 closed

[2017-11-25 08:16] davidnguyen179 commented on #289
call via **https** is worked for me

[2017-11-29 18:36] Koleja commented on #289
I have the same problem. I created simple app in June and it was working fine with simple $.getJSON request, and now I came back to this app and it just stopped working. Is there any permanent idea how to solve this? HTTPS works with Chrome but error is still on Safari, no clue how with Firefox.

[2017-11-29 19:34] Naramsim commented on #289
@Koleja You could try digging on why Cloudflare sometimes strips away CORS headers

@phalt, is cloudflare configured properly?

[2017-12-05 20:59] Smethan opened #315 "Pokemon Ultra Sun and Ultra Moon data needed"
Pokemon Ultra sun and moon added some new pokemon and forms which seem to have yet to be added to the database, like the new forms of necrozma and dusk lycanroc.

[2017-12-05 21:24] Naramsim commented on #315
Yep, you are right: even veekun has released that information

We can definitely add them

https://github.com/veekun/pokedex/tree/master/pokedex/data/csv

[2017-12-05 22:07] daintycode opened #316 "Missing Alola Pokedex"
[https://pokeapi.co/api/v2/pokedex/](https://pokeapi.co/api/v2/pokedex/?limit=20&offset=0) is missing a definition for the alolan pokedex.

[2017-12-06 11:25] daintycode commented on #316
Because in the original csvs everything is neatly ordered, here is a quick and dirty fix if you build stuff yourself:
1. add `16,7,alola,1` to `pokedexes.csv`
2. add a whole bunch to `pokemon.csv`:
[code]

[2017-12-06 11:37] daintycode commented on #316
Oh the data is not scraped by yourself. I suggest you put a lil information about this into the README, eh?

[2017-12-06 11:37] #316 closed

[2017-12-06 11:44] Naramsim commented on #316
Yep, all the data comes from Veekun.

It is written in our official website: https://pokeapi.co/about/

[2017-12-06 11:48] daintycode commented on #316
Didn't want to be so salty there, sorry.

Yeah but if you want to work with the data you don't really look there, but in the README of this repo.^^

[2017-12-14 08:24] MestreLion opened #318 "Missing encounters for Gen 2 (Gold, Silver, Crystal)"
data/v2/csv/encounters.csv has no data for version_id 4, 5 or 6

[2017-12-14 10:29] Naramsim commented on #318
Thanks for submitting the issue, please open a copy on [Veekun](https://github.com/veekun/pokedex/) since we gather all the data from them

[2017-12-14 10:29] #318 closed

[2017-12-15 02:17] MestreLion commented on #318
There is already veekun/pokedex#201, opened more than an year ago. Shall we upvote/voice there or rather open a new issue?

[2017-12-15 04:13] MestreLion commented on #293
Same here! That poor ubiquitous Magikarp seems to be bringing the server down... All hail his mighty splash, struggle, and his billion encounters!

[2017-12-15 04:16] MestreLion commented on #270
Looks like our friend @dhcrain fixed this in PR #274. Any words on why was this bug (or that PR) both closed?

[2017-12-15 04:31] tdmalone commented on #270
@MestreLion Every outstanding issue was closed around mid-year when PokeAPI was due to shut down. Thankfully, it was decided to keep it running! :D I'll re-open this issue for now; I'm not sure why the PR was closed as that was only quite recent, so I'll leave that for @Naramsim to advise on.

[2017-12-15 04:32] tdmalone commented on #293
Haha I have the ability to reopen now, so I've just gone ahead and done that ;)

[2017-12-15 09:43] Naramsim commented on #318
From my side I added a thumb up on the Veekun issue

[2017-12-17 18:56] tartreau opened #319 "Java API - display details of pokemon"
Hi !
I'm working on a (very) little Pokedex thanks to the API.

Thanks to this tuto :
https://www.youtube.com/watch?v=xQn8u4Htib4
I'm able to display all Pokemon (and there name and there number).

Now I want to display details of a specific Pokémon when I clic on an item but I don't know how to use the API to display some details (like Evolutions, height, weight...)

Thanks for your work, its gre

[2017-12-17 21:05] Naramsim commented on #319
Hi @tartreau, it is better to use our Slack channel for this kind of questions. We have a channel named "help" there.

Check out the instructions in the readme in order to signup

[2017-12-17 21:05] #319 closed

[2017-12-23 01:10] Studnicky commented on #163
This bug still exists and it's making me sad.

https://pokeapi.co/api/v2/evolution-chain/135/

[2017-12-23 22:31] tdmalone commented on #163
@Naramsim According to #307, this should've been fixed by the merge of #305. Do you know if there's anything else we need to do?

[2017-12-24 10:27] Naramsim commented on #163
Yeah, I hoped that Veekun had updated the entries in their CSVs, but they didn't.

We could modify by ourselves the CSV files, remembering to change them every time we pull from Veekun in order to not overwrite the evolution chain with wrong data.

[2017-12-24 10:49] tdmalone commented on #163
Ah :(
Is it https://github.com/veekun/pokedex that we get the data from? If so I suppose we should log an issue there?

[2017-12-25 16:52] ahester57 opened #320 "No E.V.s found."
I have looked through and searched the documentation, and I have failed to find any mention of E.V.s given by battling a Pokemon species. (in v2)

[2017-12-25 16:57] Naramsim commented on #320
Are those here? https://github.com/veekun/pokedex

[2017-12-25 20:38] #320 closed

[2017-12-26 23:40] tdmalone commented on #320
I think they’re under ‘experienced yielded’ or something similar :)

[2017-12-27 15:11] lmerotta opened #321 "Nullable fields in API response"
Hi folks,

I searched everywhere on the docs and in the issues here, and I haven't found any information about which fields are nullable or not in the API responses.

For example: on `/api/v2/evolution-chain/7`, `baby_trigger_item` is null, which implies it is nullable, But I think that many other fields in other responses are null too, without them being explicitly defined as so. Have I missed so

[2018-02-05 15:26] DanLatimer opened #322 "Made an example JsFiddle"
Didn't really know where to post this so sorry if this is a bad spot (feel free to close the issue). Just thought some people might be interested in this JsFiddle I wrote

https://jsfiddle.net/torcp0r3/8/

[2018-02-05 19:10] tdmalone commented on #322
We'd love to see it in the #showcase channel on our Slack team! :) See https://pokeapi-slack-invite.herokuapp.com/ to sign up and then log in at https://pokeapi.slack.com/

[2018-02-05 19:10] #322 closed

[2018-02-06 06:52] mahousenshi opened #323 "Torchic female sprite is not consistent"
The 2D Torchic front female (front_female) isn't consistent with the rest of the set of sprites and the female the shine version(front_shiny_female) of this isn't even in the database. I know the difference is minimal (a black dot behind) but it's would be nice if the sprite is on the database.

[2018-02-06 07:34] Naramsim commented on #323
Ok, can you submit a PR on our sprites repository?

[2018-02-06 07:35] #323 closed

[2018-03-01 21:06] AtomToast opened #324 "Asynchronous Python Wrapper?"
I was deep into my project when I embarrassingly noticed that the pokeapi wrapper I used ([PokeBase](https://github.com/GregHilmes/pokebase) by Greg Hilmes) is not asynchronous.

Now I have the issue that I am not particularly experienced in this field and the wrapper is already fairly deeply integrated into the project.
So does anybody already have some sort of asynchronous python wrapper or woul

[2018-03-02 13:19] Naramsim commented on #324
Hello, this is not the correct place to discuss regarding a wrapper. Better to discuss directly on the wrapper repo. I'm closing this issue and opening a new one on @GregHilmes repo.

https://github.com/GregHilmes/pokebase/issues/7

[2018-03-02 13:19] #324 closed

[2018-03-03 19:58] thechief389 commented on #316
What does the 16 in the csv mean?

[2018-03-05 02:13] brunocroh commented on #308
I'm having the same problem,

[2018-03-06 01:52] karanchoksi96 opened #325 "Error 504"
I'm getting an Error 504 every time I try to access the website. The servers seem to be down as I cannot access the API from within RStudio either. It would be amazing if you could fix this as soon as possible (my grades depend on it)

Thanks!

[2018-03-06 07:44] Naramsim commented on #325
Duplicate https://github.com/PokeAPI/pokeapi/issues/308

[2018-03-06 07:44] #325 closed

[2018-03-06 23:59] paticobr commented on #135
request.add_header('User-Agent',"cheese") works for me!
I added ("Content-Encoding", "gzip") too.

[2018-03-07 23:25] feddycap opened #326 "Types' color"
You could put the color of the type in the type data, it would be very helpful for the situation in which someone wants to have a panel representing the type.

[2018-03-08 07:39] Naramsim commented on #326
Ciao @feddycap, I think the best thing you can do is to have on your own a map with all the colors.

Here if you want the 'official' badges, and you can extract the color from there using Developers tool (https://veekun.com/dex/media/types/en/)

We most likely won't add color to our API, since all the raw data comes from Veekun.

[2018-03-08 07:39] #326 closed

[2018-03-09 19:53] thechief389 opened #327 "How can I get all Alola pokémon including alolan forms?"
I'm working on a command-line Pokémon Sun and Moon game and I'm trying to figure out how to get the alola id and name of all the Pokémon in alola. The entry for the Alolan Raichu has the id 10100 and the name is "raichu-alola", rather than 26 and "raichu".(It would be very confusing for two entries to have the same name)

How can I get the alola id and the species name of all the pokemon?

[2018-03-10 11:18] Naramsim commented on #327
https://pokeapi.co/api/v2/pokemon/10100/

[2018-03-10 16:59] thechief389 commented on #327
That doesn’t have the original name or Id though.

[2018-03-10 17:02] thechief389 commented on #327
It has the species name though.

[2018-03-11 10:27] Naramsim commented on #327
https://pokeapi.co/api/v2/pokemon/raichu-alola/

You can query it even by name

[2018-03-18 13:32] cassianpry opened #328 "Can't get any data from API with emberjs"
Hi, I'm studying EmberJS. I downloaded and installed locally to avoid many requests and while I was studying, I used a website that was made emberjs and uses the API to guide me in some parts of the project.

Two weeks ago the site stopped listing the Pokemons. I changed my host to https: // pokeapi and got the same error. Has anything changed in the way to get API data? Because not only in EmberJ

[2018-03-19 00:35] sonphung1 opened #329 "evolution chains 404"
Evolution chains with ids 222, 225, 226, 227, 231, 238, 251 are broken.
i.e. http://pokeapi.co/api/v2/evolution-chain/222/ returns 404 error

[2018-03-19 07:42] Naramsim commented on #328
Hello, The problem is not with Ember or any other kind of framework. The problem is that Pokeapi might be down or Cloudflare not setting up CORS headers (most likely).

Check in dev tool in the network panel what"s going on.

[2018-03-19 07:43] Naramsim commented on #329
Are you sure that those exist? Which Pokemon do them behave?

[2018-03-19 22:30] cassianpry commented on #328
Thanks, it was Cloudflare. Problem solved.

[2018-03-19 22:30] #328 closed

[2018-03-22 20:27] LukaszGrela commented on #163
@Naramsim :) would be better to modify CSV and PR it so it is not done many times:) well anyways, you are doing a great deal of good work, thanks!

[2018-03-23 07:40] Naramsim commented on #329
@sonphung1 are you there?

[2018-03-23 07:42] Naramsim commented on #163
@LukaszGrela I'll be honest. Even if we do this change, you will not see anything because we don't have the possibility to push the new code on the server.

We also have a PR for new pokemons and stuff, but Phalt needs to approve it (this is his project)

[2018-03-23 14:31] LukaszGrela commented on #163
Well, catch 22 I guess. Can't this dependency be somehow cut? For the Pokeapi consumer it is not veekun pokedex broken but Pokeapi. Thanks for response anyway.

[2018-03-25 15:27] Bingbazaar commented on #289
Oddly enough, it worked for me to just request data with the added / at the end. So like:

https://pokeapi.co/api/v2/pokemon/722/
instead of
https://pokeapi.co/api/v2/pokemon/722

I don't know if it's gonna fix it for anybody else, but I thought I might as well post it here :)

[2018-03-28 12:03] Naramsim commented on #289
@Bingbazaar when putting a slash at the end you are avoiding a 301 redirect. Because pokeapi.co/api/v2/pokemon/722 redirects to pokeapi.co/api/v2/pokemon/722/. That means you gain also in performance

[2018-03-29 05:03] SiddharthaMishra commented on #301
I'd like to try taking this up in my free time. Any advice before I get started?

[2018-03-29 08:09] Naramsim commented on #301
What I would suggest you is to first try to update all the python
dependencies, especially Django since right now a lot of the methods used
here are deprecated and no longer maintained in the latest Django. Then if
every thing works, try to update to python 3. Cheers and thanks!

On Thu, Mar 29, 2018, 07:03 Siddhartha Mishra <notifications@github.com>
wrote:

[2018-04-05 01:44] jrubinator opened #331 "Missing location_area_encounters"
It appears that at least a few pokemon (seemingly many) are missing entries in their `location_area_encounters` endpoint.

For instance, [Dratini's endpoint](https://pokeapi.co/api/v2/pokemon/147/encounters) does not list silver or gold, though it's definitely catchable in [Dragon's Den](https://bulbapedia.bulbagarden.net/wiki/Dragon%27s_Den) (there may be other locations as well, I'm not sure).

[2018-04-05 06:55] Naramsim commented on #331
Hi, we don't use our data.

Can you spot if you can find Dratini's endpoint in Veekun? https://github.com/veekun/pokedex/tree/master/pokedex/data/csv (we take the data from them)

[2018-04-07 08:54] Naramsim commented on #331
Good one, I've already thumbed it up 😄

Closing for https://github.com/veekun/pokedex/issues/201

[2018-04-07 08:54] #331 closed

[2018-04-09 21:36] bsides commented on #18
I'm sorry for reliving this issue, but is it possible to do what the author talked about? Today, trying parcial names like https://pokeapi.co/api/v2/pokemon/pika/ returns me nothing. Could it be implemented? Or any direction in how to do it?

[2018-04-10 00:28] bsides commented on #277
Should I install a specific version on Mac OS High Sierra? I'm having this error:
[code]

[2018-04-10 00:39] bsides commented on #277
Worked changing `requirements.txt` line 20 to
`psycopg2==2.7.1`
Maybe I should PR it? Let me know.

[2018-04-10 05:30] Naramsim commented on #18
The best implementation would be on the client side, with a list of all the pokemon and thus searching there

[2018-04-10 05:32] Naramsim commented on #277
No need for a PR which only updates a dependency.

Just leave your comment here so people can find your solution 😄

Thanks!

[2018-04-10 08:55] ahester57 commented on #18
I have a sort of spell check in my pypoke repo. It's not automcompleted yet
but you could add it. It uses a list of Pokémon but it is only good up to 3
characters off.

On Tue, Apr 10, 2018, 00:30 Alessandro Pezzè <notifications@github.com>
wrote:

[2018-04-10 14:24] bsides commented on #18
I do believe normalizing it via frontend and then doing that could do the trick. Thanks for answering!

[2018-04-10 15:10] Naramsim commented on #18
Because also if you fuzzy search on the front-end it will be much quicker!

[2018-04-17 01:57] jrubinator opened #332 "encounters return is different than other endpoints'"
Right now the encounters endpoint lives at `https://pokeapi.co/api/v2/pokemon/{id}/encounters`

For a given id, the URL returns a list, rather than a hash. On the other hand, the endpoint URLs (eg. `/api/v2/pokemon`) return very similar data, but prefix that data with `results:` Would it make sense to do this here? Unfortunately, that's not a backwards-compatible change.

I suggest this because I

[2018-04-17 06:54] Naramsim commented on #332
Hello, back in time the encounter endpoint wasn't there, but part of `/api/v2/pokemon/{id}/`. It was created to lighten the responses of this pokemon endpoint. So it was a quick improvement. Right now the repository is in a stalemate state, and probably no one will implement this alignment with `/api/v2/pokemon/`

[2018-04-17 17:05] Fenikku opened #333 "Missing Pokemons"
Missing pokemons:
- Poipole #803
- Naganadel #804
- Stakataka #805
- Blacephalon #806
- Zeraora #807

I've another question.. why Giratina is called giratina-altered? (#487)
I can't find it by his name, just by his ID.

[2018-04-17 17:09] Naramsim commented on #333
Are those ultra sun / ultra moon?

[2018-04-18 02:13] jrubinator commented on #332
Interesting - that migration makes sense.

I guess I was wondering if the following change makes sense at the last line of `pokemon_v2/urls.py`:
[code]

I haven't worked with Django before, or I might be able to suggest something more mature (with proper pagination). That sounds like the alignment you doubt will happen though.

Let me know what you think.

[2018-04-18 06:41] Naramsim commented on #332
Yeah, probably is that simple fix 😄 So maybe you can open a PR and put me in the 'request review' and one day maybe it will be merged, but this change obviously could break lots of applications. So we have to be careful about deciding what to do.

[2018-04-20 23:41] nnguy152 opened #334 "Pokemon heights inaccurate"
Hello,
I’m trying to make an app that gathers the height of pokemon based on user input and the decimeters vary about 3 inches from actual pokemon height (listed on bulbapedia)

Will there be any update where height is converted to a more accurate measurement? I know that’s not really important, I just wanted to see. Lol

[2018-04-21 06:55] ahester57 commented on #334
Pokémon of the same species may vary in height.

On Fri, Apr 20, 2018, 18:41 Nhi <notifications@github.com> wrote:

[2018-04-21 08:43] tdmalone commented on #334
All of the data on PokeAPI comes from [Veekun](https://veekun.com/). Are the heights off there as well? If so you might need to log an issue there :)

[2018-04-21 16:04] nnguy152 commented on #334
ahester57- Probably but having it stick to a solid average height per pokemon would be nice.

Tdmalone- That’s so cool. Veekun actually has measurements in both feet/inches and meters. The feet/inches is super accurate but meters has it rounded. Like for example, on Veekun, Blastoise is 5’3 and 1.6m but heights from 5’2 - 5’6 round to 1.6m. :,)

[2018-04-30 10:25] ShadowNoire commented on #329
even if there isn't any evolutions (which 210 does have) it should return that there isn't, rather than 404

[2018-05-01 17:13] nimaje commented on #329
Well, a 404 means the server has no data for what was requested and the client has a wrong idea what data is there.
So a 404 here means there is no evolution chain with that id.
And the id is the id **of the evolution chain** and **not** of the pokemon.
So why do you think these evolution chains should exist?

[2018-05-02 00:16] tdmalone commented on #329
A 404 is exactly how servers return that there isn't anything there :)

[2018-05-09 11:44] lazyBisa opened #336 "Sun and Moon encouter data missing"
### Expected:
- encounters.csv contains entries with version nr. 27 and 28.

### Observed:
- highest version id in the file is 24 (Pokémon Y)
- 25 and 26 (Omega Ruby and Sapphire) are also missing.

Respective endpoint also doesn't return encounter data for Sun/Moon
E.g:
#### Araquanid (https://pokeapi.co/api/v2/pokemon/752/encounters):
- no encounter information at all
#### Caterpie (https://poke

[2018-05-09 12:28] Naramsim commented on #336
There is a PR open.

What does SM mean?

[2018-05-09 13:00] lazyBisa commented on #336
PR and veekun do not contain encounter information either

[2018-05-09 13:31] Naramsim commented on #336
About Araquanid I don't know what to say. Maybe Veekun updated their entries and we could try re-fetch them and see if Araquanid is updated. Are you sure it can be caught?

We found our API on Veekun, so if Veekun does not have them our API will not have them.

So we have to wait for Veekun to update.

[2018-05-09 13:31] #336 closed

[2018-05-09 16:39] SiddharthaMishra commented on #301
Since max_lengths of the IntegerFields of models has been depreciated, I was adding MaxValueValidators to them instead. I was wondering why the max length of the release year of pokemon.models.Game needed to be 6. I was also curious why hits.models.ResourceView has to have a max length of 1000 (and therefore max value of 10^1001).
Should I just work on a direct translation of the code for now and

[2018-05-09 17:27] Naramsim commented on #301
I think you could just work on anything you want. If limits are too low,
raise them. It is incredible that you are working on it, thanks very much

On Wed, May 9, 2018, 18:39 Siddhartha Mishra <notifications@github.com>
wrote:

[2018-05-09 17:43] cmmartti commented on #301
Hey, great to hear that somebody's working on updating to Python3. I'm working on adding a GraphQL endpoint, but I didn't bother updating it from Python2. If you get it done, submit a PR. Hopefully @phalt can merge it so I can pull the changes into my code.

As far as the GraphQL endpoint goes, I've figured out how to use the existing v2 models so the same data source can be used, as well as using

[2018-05-17 18:10] alexd99 opened #337 "Evolution is hard to show"
On the evolution endpoint, the evolution id's do not match the pokemon id's making it near impossible to show an evolution chain for the pokemon. It would be awesome to have those id's match up.

[2018-05-18 04:50] cmmartti commented on #337
If you're trying to show an evolution chain for a particular Pokémon, you'll have to get the species of that Pokémon first, and then get the evolution chain for the species.

Keep in mind that pokemon-species and pokemon are two different resources. Some species have different Pokémon variations (e.g. red and blue Gyrados), so different endpoints and IDs are needed. Are you sure you don't want the

[2018-05-18 14:52] alexd99 commented on #337
Either way would work. How I have my project set up is that you can select a pokemon and get all of their moves and stats, I could just use a second API call to pull the species information to get more information about the pokemon, and more importantly the evolution.

[2018-05-21 05:04] KadinTucker opened #338 "Several Evolution Chains do not Exist"
Hello,
While iterating through the evolution chains, I found that some of them do not exist and give 404 errors. The ones I found were numbers 211 and 222 (/evolution-chains/211, /evolution-chains/222), though there may be more.
Thank you,
Kadin Tucker

[2018-05-21 08:42] tdmalone commented on #333
PR here: https://github.com/PokeAPI/pokeapi/pull/317

[2018-05-21 08:43] tdmalone commented on #315
Closing as an open PR now handles this:
https://github.com/PokeAPI/pokeapi/pull/317

[2018-05-21 08:43] #315 closed

[2018-05-21 13:25] KadinTucker commented on #338
As far as I can tell, these errors are a result of the addition of extra evolutions (#210 is where Budew/Roserade might be, but they are with Roselia, #222 is where Ambipom is). While there do not seem to be any missing evolutions, it's kind of sloppy to have missing ones in between. Plus, not all evolutions added later in the pokedex have this issue:  Crobat and Blissey for example do not cause a

[2018-05-21 19:12] KadinTucker commented on #338
Additionally, the count parameter in evolution-chains accurately gives the number of evolutions but the last index is not 415 as the count is, rather 423. This causes some problems when searching through each evolution chain and is a result of the aforementioned issue.

Thanks,
Kadin Tucker

[2018-05-22 00:03] cmmartti commented on #338
Shouldn't you be treating the ID numbers as opaque strings anyway? Primary keys aren't guaranteed to be consecutive and shouldn't be paginated over. That's why the https://pokeapi.co/api/v2/evolution-chain/ endpoint allows you to page through the results using limit and offset.

As an observation, GraphQL-Relay base64 transforms its node IDs specifically to discourage such practices.

[2018-05-25 04:11] tdmalone commented on #338
I'm going to close this for the same reason as #329, and as explained by @cmmartti above. IDs are not always guaranteed to be consecutive.

If there's a use-case we're missing or if there's a URL referenced somewhere for an evolution chain that is broken, please feel free to re-open. At the moment my understanding is that the IDs are being guessed, which doesn't indicate a bug :)

[2018-05-25 04:11] #338 closed

[2018-05-29 20:45] turgodi opened #339 "Performance issues"
Hi, I'm getting really slow response times on the API.
It seems to be really random, it takes between 200ms and sometimes over 60 seconds, for an average of about 3 seconds I would say.
I am aware that it is recommended to cache / host the data locally and I'm doing it for the most part but the only endpoint that I'm calling is https://pokeapi.co/api/v2/pokemon/x and I can't find a complete list o

[2018-05-30 07:08] Naramsim commented on #339
Yes, we know about this issue.

The server cannot handle a lot of connections in a small amount of time, we cannot do anything about it. Some people are implementing updated versions of Pokeapi which should be faster. But as of now, there is no solution.

[2018-05-30 21:38] turgodi commented on #339
I wonder what are the limitations since all the API content is "static".
Loading the dependencies of the requested entity at each request ?
Either way this API is great, I hope someone keeps it updated.

[2018-05-31 08:49] phalt commented on #339
@turgodi it's not necessarily the computational aspect that slows the service down - it is the traffic :)

We are on the smallest tier digital ocean server (which they give us for free). It's that or we (by that I mean me!) pays for it. Trade offs :(

[2018-06-02 23:40] cmmartti commented on #299
Hi all, @phalt,

I recently started working on a GraphQL endpoint for the PokéAPI. I am using [Graphene](http://graphene-python.org/) and [DataLoader](https://github.com/syrusakbary/aiodataloader) to batch-fetch data from the database (so a large query with many nested fields might make only a few db requests, rather than hundreds). I aim to make it fully-Relay compliant so that it works with the

[2018-06-08 23:54] ShinySaana opened #342 "Django not waiting Postgres to start up inside the standalone Docker container"
When starting the standalone PokeAPI Docker container (without docker-compose), Django tries to connect to Postgres while it is starting up, which result in an unhandeld exception. Django then does not try to reconnect again.

[code]

Everytime I launch a docker container with `sudo docker run -d -p 8000:8000 pokeapi`, this error shows up. The pokeapi image was built using a clean repo.

The conta

[2018-06-16 06:15] dcantah opened #343 "MultipleObjectsReturned get() returned more than one ResourceView"
This has now happened twice. Once when I initially set up the api following the standard instructions and using sqlite. And just now a second time when setting it up on postgres. Both times the api works fine for about a day and then starts displaying this randomly. This is the full error with the meaningless info taken off at the bottom. This error displays on any endpoint with an id or name that

[2018-06-16 06:46] Cantasaurus commented on #343
If anyone else is having this issue, I've found a somewhat temporary fix. As you can see in the traceback the only traceback related to anything in the actual program is in line 61 of api.py located in the pokemon_v2 folder. If you comment out

ResourceView.objects.increment_view_count(version=2)

it started to work for me. I'm not going to close this yet as I'd like some insight into why this mig

[2018-06-26 18:52] Brisingr211 commented on #9
Could they load the E-R model of the database? (.jpg, .png)

[2018-06-28 18:36] terada46 commented on #289
I just start to play with this api.
https://pokeapi.co/api/v2  never work in my client-side app.
With http://pokeapi.salestock.net/api/v2, only the resource lists return, such as pokemon's list. But I can't get any of pokemon by id or name.

[2018-06-30 23:37] MBoberski opened #344 "Import error"
When I try to import csv do postgress i get:

[code]

Any idea why?

[2018-06-30 23:46] cmmartti commented on #344
You're probably running into this error because PokéAPI uses Python 2.7, not 3. The "Python2.7" tag is easy to miss (I ran into the same problem).

[2018-06-30 23:48] TorchwoodPL commented on #344
I was working I change few thinks to work with pythin 3.5. Issue here is that it do not find module build...

[2018-07-01 00:05] cmmartti commented on #344
The first exception looks to be a problem with Django. I don't know what it is though.

The second exception is caused by the use of an implicit relative import in `data/v2/__init__.py`, which is [not supported in Python3](https://www.python.org/dev/peps/pep-0404/#imports). This one won't solve the main problem, but you can fix it by turning it into an explicit relative import:

[code]

[2018-07-01 09:41] TorchwoodPL commented on #344
I told you, it was working before a move between VPSes... From python 3.5 to python 3.5...

[2018-07-02 21:20] terada46 commented on #343
Actually I got almost the same error.
https://pokeapi.co/api/v2/ ← This url would get my browser being checked and never work in my app built with react native.

http://pokeapi.salestock.net/api/v2 ← So I have to use this and have the same issue just like you second day. Thank you for posting this issue. But I still don't understand how to fix it. Could you write more details?

[2018-07-02 22:38] Cantasaurus commented on #343
@terada46 I'm running my own version of the api locally as I added the Ultra Sun/Moon Pokemon so if you're just using the already hosted website I can't give any advice :(. If you are running it locally all I did was comment out `ResourceView.objects.increment_view_count(version=2)` on line 61 of the file api.py located in the pokemon_v2 folder. Hope that helped, and just email me if you have anym

[2018-07-03 07:12] terada46 commented on #343
@Cantasaurus   I see. I am not running it locally.. I am just trying to build an app with this  api for practice.  Thank you for prompt reply  m(._.)m

[2018-07-18 17:39] GregHilmes opened #345 "location_area_encounter response doesn't match docs"
Looking through some of the other issues, this has been a little bit of a common thread among users, but I've found (yet another) difficulty with this data field.

The docs don't match what the API gives as a response. For example, take Butterfree.
 - Lookup [butterfree](https://pokeapi.co/api/v2/pokemon/12/).
 - The value for `location_area_encounters` is `/api/v2/pokemon/12/encounters` (this has

[2018-07-29 18:21] Neodecadente commented on #289
Having this issue on Firefox Quantum 61.0.1, NOT having this issue on Google Chrome 67.0.3 using  https://pokeapi.co/api/v2/

Weird thing is that  if I make the request from Firefox's console, it works, but not when requesting from my Javascript file.

[2018-08-02 17:36] Jace-Beaudoin commented on #289
Was stuck on this for a while @Bingbazaar! Thanks! Sorry this hasn't been fixed for other people, hope it gets resolved soon.

[2018-08-03 15:38] haynesherway commented on #327
Are sprites for alolan forms going to be available at any point? They currently return as null.

[2018-08-04 09:02] Naramsim commented on #327
Probably not, not soon

[2018-08-04 10:27] haynesherway commented on #327
I see that some of the sprites are available and even in the repo, what needs to be done to get that in the right spots?

[2018-08-04 11:27] Naramsim commented on #327
Restart the server with all the sprites in the correct location. Anyway, it is recommended to clone this repo locally and serve by yourself the sprites

[2018-08-08 10:04] hrithik-jha commented on #345
Hi, I'm new to Open Source and I'd like to work on this. So, should I change the return value to an array/list or change the documentation. I'll try changing the response.

[2018-08-08 21:51] GregHilmes commented on #345
As I understand it, the return value should not change (it should still be a URL, not an array/list). I believe the docs are incorrect and need to be fixed. The issue I have is that the URL is not in the same format as every other URL. It is only a "relative" URL, it doesn't have the base host and domain name.

[2018-08-16 19:53] nats12 opened #346 "Is there an endpoint that returns a pokemon's image as in the game's pokedex?"
Can't seem to find anything  about pokemon icon/image in the documentation or in the object returned listing each pokemon. Are there any for icons and if not, will there be soon?

[2018-08-17 08:56] Naramsim commented on #346
https://github.com/PokeAPI/sprites

https://pokeapi.co/api/v2/pokemon/23/ -> look in sprites

[2018-08-17 08:56] #346 closed

[2018-08-17 15:11] cmmartti commented on #236
No it is not. But I am working on a full GraphQL API that will let you create very complex queries, such as getting all species of type Poison that were introduced in Generation IV, or get all species with "ran" in the name. It's almost done, but there are still some bugs I'm trying to pin down, and I'm creating a simple React application to test how well it works. It's all taking longer than I th

[2018-08-19 08:29] Naramsim commented on #339
Hi @cmmartti, the server hosted on DO by @phalt doesn't use docker, I think.

[2018-08-29 03:24] crazycat9x opened #347 "Documentation API endpoints missing trailing forward slash"
#### api/v2/pokemon/{id or name} should be api/v2/pokemon/{id or name}/

Some HTTP client doesn't follow redirect by default so this could potentially cause issues? And it's probably better if the user requests the correct endpoints in the first place instead of following redirects

[2018-09-01 13:42] Fr33dan opened #348 "Whoops! That's not allowed!"
I have been writing an application that uses the pokeapi. I was working on the project when it started to fail. I went to the site and noticed I get a page saying "Whoops! That's not allowed!" when I try to load anything but the documentation.

At first I thought maybe I went over the limit as I didn't have caching written yet but I only request one pokemon at random per use. I may have run the de

[2018-09-02 09:51] Naramsim commented on #348
Where are you located? Asia?

[2018-09-02 13:06] Fr33dan commented on #348
I am in the US. Turns out I wasn't doing anything wrong. Minutes after I filed this issue this tweet was made about the service being down: https://twitter.com/phalt_/status/1035886294008774656?s=20 . They said they couldn't do anything but followed it up with a message that they tried some things. A little while later it was back up and running. I'm guessing there is possibly still a bug that too

[2018-09-02 18:36] JovianPug commented on #348
Yeah I'm having same problem too, what strange everything was working for me 4 hours ago. I'm from EU.

[2018-09-03 07:11] Defiled commented on #348
I'm running into this as well when trying to access any endpoint where a name or ID are specified.

[2018-09-03 07:45] phalt commented on #348
Hey folks. I was away at a wedding when this happened, and I'm always incredibly busy with my life and day job, so I can't keep responding to these issues.

If you really need PokéAPI; fork it and spin up a local copy.
I am not planning on maintaining the service anymore, as whenever people complain about it being down or suggest improvements, I ask for help, but I do not get it.

[2018-09-03 07:45] #348 closed

[2018-09-03 08:48] Foetus6907 opened #349 "API Calls do not work any more."
Hello,

I figure that calls does not work any more.
Example :
https://pokeapi.co/api/v2/pokemon/1/
if i call this url directly in my browser i do not get the json as reponse. Instead the pokeapi App show a web page with a message saying : Whoops! That's not allowed!

![capture](https://user-images.githubusercontent.com/40607644/44976904-d59a8a00-af66-11e8-8d73-3d8aeaa28d76.PNG)

[2018-09-03 12:47] phalt commented on #349
I'm aware. I have no time to fix this. If you need PokéAPI, fork it and spin up your own instance.

[2018-09-03 12:47] #349 closed

[2018-09-04 08:17] phalt opened #350 "Handing over PokéAPI"
Hey folks. I have decided to stop supporting PokéAPI myself.

This community has built up enough that it can support itself now and does not need my intervention. However, when production issues occur it does affect me, and I shouldn't be a blocker for it going down. It is frustrating for people using the project for their school work or interviews, and it is frustrating for me receiving angry twe

[2018-09-04 08:29] tdmalone commented on #350
ping @Naramsim @jrubinator @lmerotta (and feel free to ping others you might be aware of who could be interested)

I'm happy to be part of a group that takes this on. I can't do it on my own, but I'm happy to assist.

@Naramsim I think you have mentioned before some details about the current server size etc. used to host PokeAPI - I recall it was around $80pm which looks like it might be the 16 GB

[2018-09-04 08:34] phalt commented on #350
Honestly you can probably get away with hosting it for free, somewhere. The problem is currently the service is built for a 2013 stack - postgres, django, nginx. You don't need all that in 2018. It is just JSON files you want to serve. I think you could find a cheaper and easier-to-maintain way of doing this.

[2018-09-04 08:41] tdmalone commented on #350
That's true... Cloudflare + S3 would probably be close to free. @Naramsim You've generated plain JSON files from this before - is that something you could help spin up in a Docker container, which we could just run (maybe even on Travis) when we need to update? I'd be happy to supply the S3 bucket.

[2018-09-04 08:50] lmerotta commented on #350
I'm in to help @tdmalone maintaining the project !
Migrating to a more modern architecture will be time consuming. I can offer to cover the server cost in the meanwhile, and also take ownership of the domain name.

[2018-09-04 10:34] Naramsim commented on #350
Hi guys,

I can definitely help. Soon I will graduate (October 10) and in 7 days I will start a new job, so I will not have time to 'code' till October. I can put 5€ per month or two AWS education packs.

This is what an AWS education pack is:

You can find more details here: https://education.github.com/pack/offers

The project of @sargunv for creating static JSONs is https://github.com/pokesourc

[2018-09-04 10:43] phalt commented on #350
The static server idea is good, and will probably be super cheap if you cache the crap out of it too. Rewriting with nginx will also be incredibly cheap. Basically - just avoid paying for DB costs and you'll be able to use a bunch of static-file-server-type solutions

[2018-09-04 15:01] AlbertoOS commented on #350
Hey guys, I'm also up to help maintaining the PokéAPI.
I never took the time to look into the code but I know my way around some python so I think I can help with that and I can help with the server costs a bit too.

[2018-09-04 15:28] cmmartti commented on #350
First, I am also up to being a maintainer. I know the current code back to front.

Like Naramsim said, I have been working on implementing the API in GraphQL, and I was actually about to submit a work in progress PR. I have it working and am using it locally, but I wanted to spin up a demo production server so people can test (that's what I was trying to do now). Due to the nature of GraphQL (cust

[2018-09-04 15:33] M-Zuber commented on #350
In theory there is no reason that a graphql implementation can't use static files as it's data store

[2018-09-04 15:43] phalt commented on #350
GraphQL is big. If you don't mind supporting it, go for it. But the REST API can and should be rewritten to be much much simpler.

[2018-09-04 19:30] BevilaquaBruno commented on #350
i like and i think is the best idea rewrite the REST API to serve static JSON files, if you choose this option i can help. 😄

[2018-09-04 21:39] neverendingqs commented on #350
If it's just static files, Netlify might be a good fit. It's free, although it ties it down to one maintainer. They may offer it free since this is an open source project, but will have to ask. One maintainer might be okay, since it auto-deploys on merge to `master.`

[2018-09-04 21:48] neverendingqs commented on #350
An option for a (temporary) solution:

* During CI/CD (e.g. CircleCI), spin up a local version of PokeAPI
* Run a crawler (e.g. from https://github.com/pokesource/ditto) to extract all static files
* Host the files as a static site

That would give us some time to slowly migrate over to a pure static files implementation.

[2018-09-05 16:37] Exergist commented on #350
Love PokeAPI (especially in conjunction with PoroCYon's [PokeApi.NET](https://gitlab.com/PoroCYon/PokeApi.NET)). Currently the main PokeAPI portal shows that it "will shut down soon." What is the tentative timeline for PokeAPI going offline?

In the mean time would this be a good candidate for a GoFundMe or similar effort to keep the server up while some kind of transition takes place?

[2018-09-05 18:53] kevindesousa commented on #350
Hello,

I love the project. I am deploying the project on my infrastructure if anyone would use: pokeinfo.org
![image](https://user-images.githubusercontent.com/4758092/45114441-4d2a0e00-b14d-11e8-9ca0-c067234cbf2d.png)

On the other side, I am writing a new api with Laravel 5.6 LTS and MySQL with dashboard (vuejs) to manage data, if anyone would help me :)

[2018-09-05 20:43] tdmalone commented on #350
@neverendingqs Yes please ask Netlify! I was thinking of doing the same with Cloudflare + S3 but Netlify will be much easier to manage because it does almost everything for you.

@Exergist The max timeline is 10 months (when the domain name expires) but it might be sooner if the Digital Ocean support expires. Re GoFundMe, the main problem is that Paul doesn’t have the time to maintain anymore. The

[2018-09-05 20:46] tdmalone commented on #350
@cmmartti Re GraphQL, I think we should keep it separate from this discussion for now - and think about combining it when it’s ready for production. It sounds great, but also has the potential to make the keeping-PokeAPI-running-as-is discussion more complex. What do you think?

[2018-09-05 21:04] tdmalone commented on #350
*Summary so far*

People willing to help maintain:
- @tdmalone (server costs; CI/CD)
- @lmerotta (server costs; domain ownership)
- @naramsim (Python; Docker; AWS student packs)
- @AlbertoOS (Python; server costs)
- @cmmartti (GraphQL; knows current code back to front)
- @BevilaquaBruno (static rewriting)
- and maybe @neverendingqs (Netlify & CI/CD), @Exergist, and @kevindesousa [you guys have ide

[2018-09-05 21:49] kevindesousa commented on #350
@tdmalone My servers are hosted by OVH cloud with Docker stack, so I Can upgrade easily.
I can manage the cost and I have time to help :)
We can test the charge to know and add cache if needed. (I don't know the actual charge if pokeapi.co)

If you need help, my skills : devops-php-laravel-vuejs

[2018-09-06 02:16] neverendingqs commented on #350
Emailed:

[2018-09-06 02:30] cmmartti commented on #350
@tdmalone
Re GraphQL: I fully agree with that. I brought it up just in case it would affect anything.

As far as the proposed plan goes, I agree with that too. I just want to mention that I think it's important that any re-write of the REST API should be backwards compatible with the v2 API (we can probably kill v1 at this point--do we have numbers for how much it's used?).

[2018-09-06 02:36] neverendingqs commented on #350
Update: https://github.com/pokesource/ditto won't work out of the box because Flask is taking the static files and [re-mapping the domain name at GET time](https://github.com/pokesource/ditto/blob/38006a4a8c863631589a65bfbc500dd5f1270a82/ditto/app.py#L67) (and it looks like it only supports HTTP).

The bigger problem though is that the project has no license, so we can't just use / adapt the code

[2018-09-06 02:51] sargunv commented on #350
@neverendingqs Hi, I wrote pokesource/ditto and I've been following this discussion from my email. I'd be happy to add a license. I typically use Apache 2.0 on my projects, would that be suitable?

[2018-09-06 03:01] sargunv commented on #350
I've gone ahead and added the Apache 2.0 license to ditto.

[2018-09-06 03:02] neverendingqs commented on #350
W00t! Apache 2.0 would be fine. Just need to add attribution to it in this project, but that shouldn't be a big deal.

Since you're hear @sargunv - I think the only change we would need to make is to update the clone script to use a domain name different than from the source (and allowing HTTPS instead of hardcoding HTTP). Did I miss anything?

At this project's side of things, I think all we need

[2018-09-06 03:18] sargunv commented on #350
@neverendingqs

I recommend putting ditto behind an Nginx reverse proxy (I've used [linuxserver/letsencrypt](https://hub.docker.com/r/linuxserver/letsencrypt/) to set that up before). If I recall correctly, passing the right headers through the reverse proxy will change the domain properly. Here's a config I used to use for that, but I don't have much memory of it: https://github.com/pokesource/su

[2018-09-06 03:54] neverendingqs commented on #350
@sargunv - hmmm that's not the static file solution I was thinking of. I will have to defer to others in terms of how much we save if we switch to a nginx solution. We still have to generate the JSON files in CI, and once we have those files, it seems like a smaller step to simply replace all instances of `http://localhost` with `https://pokeapi.co` before serving them vs. another switching to ano

[2018-09-06 04:14] 5punk commented on #350
Can someone share the bandwidth requirement details here?
@phalt or anyone with this sort of information.

I've a VPS I'm willing to host this service on, just want to make sure I can meet the min reqs.

[2018-09-06 05:33] sargunv commented on #350
@neverendingqs You mean just generate the json with ditto and serve with another system? In that case, a simple `sed` on content generated with `ditto clone` should be sufficient.

[2018-09-06 08:17] tdmalone commented on #350
I haven't used ditto yet but the above sounds perfect - generate and replace the URL.
As for actually serving HTTPS, we don't have to worry about that - Netlify will do it out of the box, S3+Cloudfront will do it, and for anything else, there's Cloudflare. No-one need worry about HTTPS in 2018. 😛

@5punk I'm not sure of the bandwidth requirements, but the hosting issues thus far have been the serv

[2018-09-06 10:42] Naramsim commented on #350
Hi, I suggest we continue this discussion on our Slack server. I think we should create a separate channel from the existing ones, don't know if it should be public or only accessible to few of us.

Another alternative to Netlify could be using [Now](https://zeit.co/now). We can also spin up a Node server there to handle URL rewrites.

[2018-09-06 10:49] elementh commented on #350
Although I understand the need of moving the discussion to the Slack server, please consider updating this thread from time to time.

I'm personally interested in the outcome of the project and this discussion but I don't know if I'd have the time to keep up with the slack discussion.

Thank you! :)

[2018-09-06 11:03] Naramsim commented on #350
Ok, in the meantime I updated the PR which brings the new data from Veekun. https://github.com/PokeAPI/pokeapi/pull/317

[2018-09-06 11:34] BevilaquaBruno commented on #350
I am using [Ditto](https://github.com/pokesource/ditto) right now and i think we can create a code in python or PHP to change all occurrences of [https://localhost](http://localhost) to a domain name, we can do this if we use the static json of [Ditto](https://github.com/pokesource/ditto).

I have a gist (it's a copy of [https://github.com/Darkseal/dir2json](https://github.com/Darkseal/dir2json))

[2018-09-06 12:33] tdmalone commented on #350
@Naramsim I thought about Slack too, but in two minds about it. If we do it - gotta be public I think, this is open source after all. But all being in different time zones, Slack can be a challenge - I find GitHub issues work better as they’re asynchronous. Slack you’ve almost gotta be there at the time, or you miss out.

Having said that, I think we’ve found some great ideas here and we just need

[2018-09-06 13:09] cmmartti commented on #350
@Naramsim
I would personally prefer it if this discussion was kept here rather than on Slack, for the reasons @tdmalone mentioned.

[2018-09-06 14:12] neverendingqs commented on #350
Using `sed` post-`ditto` to transform the JSON files would work, but then we'll be dealing with the file system twice per file (once to download it, and once to fix the domains). It should perform a lot faster if we do it before writing the file to disk, as the entire JSON blob is still in memory.

I have **not** tested this, but this is an example of how we can do it inside `ditto` to avoid deali

[2018-09-06 14:18] neverendingqs commented on #350
Potential blocker: it takes a longggggg time to build the docker container. Is it safe to assume it takes that long to get a local build running? Both CircleCi and Travis CI aren't happy with long-running jobs...

CircleCI:

Travis CI:

[2018-09-06 15:29] sargunv commented on #350
Once upon a time there was a PR to PokeApi that optimized table creation using bulk inserts. I don't believe it ever got merged, but it claimed a 50% improvement in build time. We could take a look at that and update for master if possible.

[2018-09-06 15:52] neverendingqs commented on #350
@tdmalone - would you be game for creating a GitHub project to split out the discussions here? It might be easier to track everything that way.

[2018-09-06 18:33] sargunv commented on #350
Most http servers can be configured to serve an index file as the default for a directory.

[2018-09-06 19:55] cmmartti commented on #350
@sargunv
By coincidence, I am already working on this, though I wasn't aware that there was a closed PR for it. I am using a similar approach to that PR, but using `bulk_create` in batches of 200 and also setting foreign keys directly (e.g. `language_id = int(info[1])`) rather than getting the object with that key and assigning it to the model (e.g. `language = Language.objects.get(pk = int(info[1

[2018-09-06 20:10] cmmartti commented on #350
See #351.

[2018-09-06 22:53] tdmalone commented on #350
@neverendingqs As @sargunv pointed out, I don’t think the .json extension will be a problem. We can either use an index document (easy with S3, I’m sure Netlify makes it easy too), or we can write the files directly with no extension and ensure we set the mime type correctly (S3 all good, again I’m sure Netlify would have a way).

@phalt Do you think you could add the people who have offered to he

[2018-09-06 23:30] sargunv commented on #350
I can also relocate the ditto repo to the org if we're going to be using it for this effort

[2018-09-07 09:41] sargunv commented on #350
I've relocated ditto to PokeAPI/ditto but I'll need @phalt to give me write access to the repo

[2018-09-07 12:56] phalt commented on #350
Done. Collaborator team also has write access

[2018-09-07 12:58] phalt commented on #350
The current team called Contributors can be used as the admin team, the other members can be added to the Supporters team which I just created. Giving admin to everyone is bad, so limit it to just Contributors :) cc @tdmalone

[2018-09-07 12:59] phalt commented on #350
@tdmalone and @Naramsim both have admin access to the whole project now.

[2018-09-07 13:29] tdmalone commented on #350
Thanks for your trust and support @phalt, and for taking it this far!

The only other thing is the domain - @lmerotta did offer, I’m happy to, and @Naramsim is probably happy to as well I would imagine. What do you need for that @phalt - an email address to change the contact to? Will probably need the auth code from you too. I’m on tdmalone at gmail if you wanted to set it to me, I could hang on

[2018-09-07 13:36] tdmalone commented on #350
@neverendingqs Projects are now enabled. Go nuts!

[2018-09-07 13:39] Naramsim commented on #350
Yeah, I would probably let @tdmalone  or @lmerotta. I own some domains at Namecheap but I never exchanged a domain, I don't know how to do it. I don't even know how much the pokeapi.co domain itself costs.

About the funding of the project, do you think that we should go through OpenCollective or how?

[2018-09-07 14:40] neverendingqs commented on #350
From Netlify, there are two things we need to do:

* Abide to the following usage limits (https://www.netlify.com/tos/):
  * Network Bandwidth: 100GB/month - Soft
  * Storage: 100GB - Soft
* Add a reference to Netlify, perhaps with a [Netlify logo](https://www.netlify.com/press/) on the main page

Let me know if this works for you by :+1:ing this comment, or :-1: if it doesn't with a comment why.

[2018-09-07 15:52] sargunv commented on #350
@neverendingqs Those limits seem reasonable to me. Does anyone have the numbers on how much bandwidth it uses right now?

Also @phalt, I'd like to tweak some settings in the ditto repo, could you give me access to do that? The same access that I have to the pokekotlin repo. Thanks!

@Naramsim Open collective looks like a reasonable way to fund the project. How much funding would it take? Afaik it'

[2018-09-07 16:08] phalt commented on #350
@sargunv mr @tdmalone or @Naramsim have full access to the project so they should be able to tweak settings for you.

Bandwidth - I can give you rough numbers based on the stats we track in the API. It's roughly 30k-50k API hits a day. When Pokémon GO was going crazy it was around 200k hits a day. I don't expect that type of spike to happen again in the future though.

@Naramsim my home wifi is ou

[2018-09-07 16:37] Naramsim commented on #350
@sargunv What I want to know is where the money goes if I pay using OpenCollective and if part of the donation is lost in the process (e.g. to the OpenCollective team, to Mastercard, ...).

I gave you admin access for Ditto.

[2018-09-07 16:49] neverendingqs commented on #350
@Naramsim - any chance you can give me contributor / member access to the org? :). I would like using projects to track what's left.

[2018-09-07 17:58] Naramsim commented on #350
Hi, how would you keep the functionality of looking up pokemons, items, berries, etc by name and ID?

If we go for a static no-server solution we will need to duplicate some files.

For example, this two queries `/api/v2/pokemon/bulbasaur` and `/api/v2/pokemon/1` will be two separate files with the identical content.

This is ok if Netlify allows us to use those 100GB. But to do the things right w

[2018-09-07 21:48] tdmalone commented on #350
@neverendingqs Apologies for missing those permissions - you should now have access.

[2018-09-07 22:36] neverendingqs opened #352 "Netlify - Set up OSS plan option"
From #350:

---

From Netlify, there are two things we need to do:

* Abide to the following usage limits (https://www.netlify.com/tos/):
  * Network Bandwidth: 100GB/month - Soft
  * Storage: 100GB - Soft
* Add a reference to Netlify, perhaps with a [Netlify logo](https://www.netlify.com/press/) on the main page

[2018-09-07 22:36] neverendingqs commented on #350
Thanks! I will start populating https://github.com/orgs/PokeAPI/projects/1 based on the discussions here.

[2018-09-07 22:44] neverendingqs opened #353 "Transfer domain - and other related tools & accounts"
From #350:

FYI @lmerotta is not part of the PokeAPI org.

We might also need a new subdomain (`api.pokeapi.co`) as per https://github.com/PokeAPI/pokeapi/issues/355#issuecomment-419681785:

[2018-09-07 22:56] neverendingqs opened #354 "Set up CI system"
Needs to:
* Host local version of pokeapi
* Run [ditto](https://github.com/PokeAPI/ditto)
* Moves files to proper location?
* Set Netlify redirect rules
* Set up [headers file](https://www.netlify.com/docs/headers-and-basic-auth/)?

Tasks:
* [x] performance improvement addressed in #351
* [x] needs `ditto` in PyPi (https://github.com/PokeAPI/ditto/issues/4)
* [x] Connect to Netlify (https://github

[2018-09-07 23:03] tdmalone commented on #350
@neverendingqs Awesome!! And then I imagine we close off this issue and continue in Projects/other Issues? (I haven’t used used Projects much but I like what I see so far!)

With this new life in the project, we should probably also review old closed PRs - and possibly new issues - and reopen ones that are still valid (a bunch of exisiting ones were closed without resolution probably sometime last

[2018-09-07 23:28] neverendingqs commented on #350
This is my first time in a real-life scenario too. We _could_ leave this issue open for general discussion and proposing new work items, or we can just create new issues as they come. I'm okay with whatever works best for everyone.

That sounds like a candidate for another project ;) .

---

FYI I believe I have finished populating the [project](https://github.com/orgs/PokeAPI/projects/1). Please

[2018-09-07 23:35] cmmartti commented on #350
@neverendingqs
What about converting the site portal to a static site? Right now it uses Django templates. I can work on that next.

[2018-09-07 23:39] neverendingqs opened #355 "Site portal to static site"
From #350. Templates: https://github.com/PokeAPI/pokeapi/tree/master/templates

The 404 page might be useful as well: https://www.netlify.com/docs/redirects/#custom-404

Requirement: since we're using Netlify's Open Source plan, we need to give them proper attribution. An inclusion of their [logo[(https://www.netlify.com/press/) should do the trick, or maybe a "hosted by Netlify" statement in the

[2018-09-07 23:59] neverendingqs opened #356 "Decide on how to mirror functionality when switching to static files"
Looking at Netlify, I don't see explicit documentation about how to specify an index document. https://www.netlify.com/docs/redirects/#trailing-slash (especially the `Pretty URLs` feature) does suggest that Netlify handles trailing slashes and seems to suggest that it can map `https://pokeapi.co/api/v2/language/index.json` to ` https://pokeapi.co/api/v2/language/`.

It seems like `ditto clone` sho

[2018-09-08 00:45] neverendingqs commented on #352
I have emailed Netlify back with our "yes", and will report back when I hear a response from them.

[2018-09-08 02:09] cmmartti commented on #355
Should the pokeapi.co portal be moved to a separate project? To me, it doesn't really make sense to keep it with the API. We would need to extract the static pages anyway to host beside the json files, and other people who self-host the API probably don't need or want the site portal.

What do you think?

[2018-09-08 03:48] tdmalone commented on #356
I think plan B might be to use S3. Netlify abstracts away a lot of what you can set up manually with S3, but with the reduced work also comes reduced flexibility. If it doesn't give the flexibility we need, we can make S3 do what we need. It will still be a lot cheaper (and easier to manage) than setting up (and potentially scaling) a VPS.

[2018-09-08 03:49] tdmalone commented on #355
^ I think that's a good idea. They're two different projects: a website, and an API =]

[2018-09-08 03:50] tdmalone commented on #352
Thanks @neverendingqs! Keep us up-to-date on whether they still offer the OSS team plan :)

[2018-09-08 04:02] tdmalone commented on #350
@tdmalone @lmerotta @Naramsim @AlbertoOS @cmmartti @BevilaquaBruno @neverendingqs @kevindesousa @Exergist @5punk @elementh
Thank you everyone for your contributions to this issue! Please check out the project set up by @neverendingqs at https://github.com/orgs/PokeAPI/projects/1 - is there anything that is missing? Is it ok if we go ahead and close this issue and continue discussion in the separat

[2018-09-08 04:14] tdmalone opened #357 "Should we reopen unresolved issues & unmerged PRs?"
In #350, we've spoken extensively about plans to get support behind PokeAPI now that Paul can no longer actively support it. We've got a good community around this project!

At some stage last year (I think on 12 Jun 2017), Paul started winding down the project before it was revived again, and at this time a number of unmerged pull requests or unresolved issues were closed.

From a comment in #350

[2018-09-08 04:17] tdmalone commented on #357
As part of this we could also add new labels and categorise issues etc

[2018-09-08 04:26] sargunv commented on #356
Specifying response code 200 in the redirect rule gets rid of the 301, so should work with all clients:

[code]

Example HTTP response:

[code]

[2018-09-08 04:55] sargunv commented on #352
I've used Ditto to do a rough bandwidth estimation for the API:

There are ~9500 objects:

[code]

All objects combined are ~309 MiB:

[code]

Assuming each file has an equal chance of being requested (likely a bad assumption) at 100K requests/day, that's ~3.5 GiB per day or 106 GiB/month:

[code]

That puts us right around the Netlify limit of 100GB/month.

Now, according to phalt the real reques

[2018-09-08 05:05] cmmartti commented on #352
Netlify should automatically gzip compress it too, which will probably cut the actual request size in half. Removing spaces doesn't really do much when gzip is compressing it anyway. In any case, it's probably good to keep the JSON responses human readable.

[2018-09-08 05:07] sargunv commented on #352
Ah, good point. If Netlify is compressing then minify is unnecessary.

[2018-09-08 05:14] sargunv commented on #357
Definitely worth doing. Once the optimization PR lands, building and testing these changes should become a breeze.

However, I think it's best to hold off on actually merging anything unrelated to the optimization until the handover is complete and the updated API is live.

[2018-09-08 05:33] sargunv commented on #354
Netlify's [continuous deployment](https://www.netlify.com/docs/continuous-deployment/) looks like it supports an arbitrary build command, so as long as the timeout is long enough it should be usable. I'd be happy to cook something up once pokeapi is fast.

[2018-09-08 05:46] tdmalone commented on #352
I don’t know anything about Netlify’s CDN layer, but if we add Cloudflare in front of it we can likely save even more. Our responses are all highly cacheable.

[2018-09-08 06:14] sargunv commented on #352
Sounds good; Cloudflare caching would make bandwidth limits on Netlify essentially irrelevant.

[2018-09-08 12:57] neverendingqs commented on #352
Based on the example at https://github.com/PokeAPI/pokeapi/issues/356#issuecomment-419611875, it looks like it is getting gzip-ed.

Not sure about how Netlify's caching layer applies to their limits. They may include cache hits as it still costs them. I can follow-up.

[2018-09-08 13:01] neverendingqs commented on #355
I like the idea, but I'm not sure how to combine the two at deploy time if they are in two separate repos. Thoughts?

[2018-09-08 15:21] neverendingqs opened #358 "Long-term: static file generation"
Current plan for a short-term solution:

* Host a local version of pokeapi
* Run `ditto` to extract all the JSON files
* Host the JSON files

Long-term, the ideal would be to have a more direct conversion (e.g. convert the CSV files to JSON files).

Before we close off the [PokeAPI - Migration to Static files / Serverless](https://github.com/orgs/PokeAPI/projects/1) project, we should either resol

[2018-09-08 15:29] neverendingqs opened #359 "Migrate to CircleCI 2.0"
CircleCI 1.0 [has been deprecated](https://circleci.com/blog/sunsetting-1-0/). We should migrate to CircleCI 2.0.

[2018-09-08 16:31] sargunv commented on #355
The deploy script can simply clone all relevant repos and copy all the static files it needs into a single location

[2018-09-08 16:34] neverendingqs commented on #355
That's not available out-of-the-box. We can manage deploy keys, but I think it would be best to just put them in a different directory in this repo to keep things simple. We can always split them up at a later time.

[2018-09-08 16:41] sargunv commented on #355
Not sure what you mean. Netlify's build system appears to give the option of running any arbitrary command (and if not, another CI system certainly will) so it's just a matter of cloning relevant repos and cp. Am I missing something here?

[2018-09-08 16:46] neverendingqs commented on #355
Sorry I forgot that all our repos are / can be public. I'm used to working with private repos at work, which means having to manage credentials / deploy keys to be able to clone another repo.

I still think it's simpler to manage everything in one repo, but I can support either option without the credentials issue.

[2018-09-08 22:10] tdmalone commented on #355
If it adds complexity maybe it’s worth keeping them together until we’re up and running on Netlify and then we could look at the pros/cons of splitting them?

[2018-09-08 23:00] tdmalone commented on #350
^ Re the above. Given that pushes to master will be deploying live once our static migration project is complete, security settings have been updated to:

- require 2FA for organisation members
- require at least 2 reviewers and passing CI before merges to the master branch

[2018-09-08 23:18] AlbertoOS commented on #350
@tdmalone can you add me to the organization so I can see the project?

[2018-09-09 00:55] neverendingqs opened #361 "How do we know who to request for code reviews?"
For example, I know #351 is looking for another reviewer, but it is not obvious to me who the second person should be. Is there a way to mark off certain parts of the code so that we know who to ask for a review to meet the two reviewer requirement?

One option could be to use [CODEOWNERS](https://help.github.com/articles/about-codeowners/).

[2018-09-09 01:01] sargunv commented on #361
I don't think the number of people in this org has grown enough yet that we need to formalize this, but CODEOWNERS is not a bad solution if/when we're larger. IMO anyone with write access in the org should be fine to review PRs to the main PokeAPI repo, while each of the client repos can have an informal owner.

[2018-09-09 01:01] neverendingqs commented on #350
@AlbertoOS - I have changed the visibility settings of the [project](https://github.com/orgs/PokeAPI/projects/1/). I was able to see it when logged out to test it, so that should mean you can see it as well.

[2018-09-09 01:03] neverendingqs commented on #350
@Naramsim @tdmalone - if there are organization admin-related questions, what is the best way to contact you? This issue? Slack?

I think it would be best to establish that for future reference.

[2018-09-09 01:13] sargunv commented on #354
@neverendingqs Did you get the OSS Netlify team account set up? If not I'll start working on this on my personal account and migrate when we have it, but if it's already available then we can start right on that one.

At the moment I'm working on some refinements to Ditto that'll improve Ditto's handling of base URLs and make this CI job not need to run a `ditto clone` on every site update (since

[2018-09-09 01:14] neverendingqs commented on #361
I like the idea of adding all contributors (as you did with #351). However, I am a bit worried that adding the whole group leads to some sort of bystander effect, where no one offers a review because they are thinking someone else might do it.

I plan to leave this issue open for now, but am happy to close it if that's what we want or once I see that the next few PRs naturally get picked up by two

[2018-09-09 01:29] sargunv commented on #354
Sure, I'll add the ones that are related. Some aren't related -- I'm planning on eventually trying to leverage ditto's schema generation to auto-generate an easy to maintain successor to pokekotlin, and perhaps a whole suite of language specific clients.

[2018-09-09 01:34] cmmartti commented on #355
By the way, I'm still interested in doing this. Not sure why it shows that I'm unassigned.

[2018-09-09 01:38] sargunv commented on #355
I'm actually unable to assign you for some reason.

[2018-09-09 01:39] neverendingqs commented on #355
Hmm probably because you got bumped from the org because of the 2fa thing (https://github.com/PokeAPI/pokeapi/issues/350#issuecomment-419679355). Sorry about that.

I think you can re-add yourself once you get back in.

[2018-09-09 06:13] tdmalone commented on #361
@neverendingqs You asked this question on Slack but I’ll repeat it here too as it is relevant: is requiring 2 reviews too much? If we drop that back to 1, it will be easier to find people. I’d like to get @naramsim’s thoughts on that too.

Other than that - I think just let it happen organically to start with and see how we go? We might start to see over time who is better at different parts of th

[2018-09-09 07:01] tdmalone commented on #350
@cmmartti Apologies for the confusion regarding the 2FA and assignment in #355! I didn't realise enabling that would unassign you. GitHub told me it would send you an e-mail to ask you to enable 2FA. 😄Anyway, I now have both re-added and reassigned you.

@AlbertoOS As well as the project visibility being changed by @neverendingqs, I've also added you to the organisation. Let us know if you come ac

[2018-09-09 07:36] tdmalone commented on #353
I've invited @lmerotta to be part of the PokeAPI org.

@neverendingqs It looks like Netlify [offers DNS management](https://www.netlify.com/docs/custom-domains/#automatic), so we can probably just delegate the domain to Netlify and manage the rest from there. Although - we might still want to keep Cloudflare in front if we think we might come close to the bandwidth limit.

Semi-related - I'm not s

[2018-09-09 07:47] tdmalone commented on #350
I have also invited to the PokeAPI organisation the remaining people from this issue who offered to help out.

If they all accept, that will give us the following [organisation members](https://github.com/orgs/PokeAPI/people): AlbertoOS, BevilaquaBruno, cmmartti, kevindesousa, lmerotta, Naramsim, neverendingqs, phalt, sargunv, tdmalone and TheTommyTwitch.

Additionally, cmmartti, Naramsim, neveren

[2018-09-09 08:01] tdmalone commented on #350
We also have these repos:

* [pykemon](https://github.com/PokeAPI/pykemon) - I don't think there's a current maintainer for this; @Kronopt or @BeatButton, are you interested in maintaining?
* [pokeapi-js-wrapper](https://github.com/PokeAPI/pokeapi-js-wrapper) - I think @Naramsim is maintaining this - is that correct?
* [pokekotlin](https://github.com/PokeAPI/pokekotlin) - I think @sargunv is maint

[2018-09-09 08:13] sargunv commented on #350
Sort of, I haven't built/tested it recently but I can get on that to make sure it still works and bring it into 2018. I do have some major improvements planned for it.

[2018-09-09 08:15] tdmalone opened #362 "Merging and linting strategies"
Our two main repositories are now pokeapi and [ditto](https://github.com/PokeAPI/ditto/).

To reduce confusion for maintainers, it would probably be a good idea to standardise management of these repos, so I was looking at what is currently set up differently between the two. One item is the allowed merge strategies:

• pokeapi currently allows rebase merging only
• ditto currently allows squash m

[2018-09-09 08:26] sargunv commented on #362
I generally dislike merge commits because the diff is duplicated across two commits (the real one and the merge one) in the commit history, and it pollutes the history a bit with extra commits.

I'm happy with either rebase or squash commits, but I prefer squash so incremental changes in a PR (say, after a review) don't pollute the history.

Should we standardize linting across pokeapi and ditto t

[2018-09-09 08:40] tdmalone commented on #362
I've edited the scope of this issue to cover linting as well - definitely would be good to standardise that as well. I haven't used Stickler before but I love the idea of it - if it works that is, haha.

We currently use flake8 for the main PokeAPI repo; if we added black, would this involve significant reformatting to comply?

[2018-09-09 08:45] sargunv commented on #362
Blacks formatting is mostly similar, the main difference is 10% longer line length and lack of configuration options (which I see as a positive). I can open a PR with black applied to get an idea of the change.

[2018-09-09 08:57] sargunv commented on #362
Apart from the migrations directories, looks like the change is mostly string normalization and line wrapping past 88.

[2018-09-09 10:59] sargunv commented on #354
The API is up: https://pokeapi.netlify.com/api/v2/

[The config.](https://github.com/PokeAPI/ditto/blob/master/netlify.toml) It's deploying from [sargunv/ditto](https://github.com/sargunv/ditto) until Netlify gets approved by an admin to access this org. Atm, it redeploys whenever ditto is pushed, so once https://github.com/PokeAPI/ditto/issues/9 is complete it'll be always up to date.

[2018-09-09 15:16] BeatButton commented on #350
No promises at this time, but I'll take a look. I didn't end up actually using the library much since it didn't have Python 3 support.

[2018-09-09 19:26] tdmalone commented on #350
@TheTommyTwitch Awesome! Feel free to check out https://github.com/orgs/PokeAPI/projects/1 and jump in on any issues you’re interested in :)

[2018-09-09 19:50] Naramsim commented on #353
Maybe we can create a new email account for the pokeapi org. Could be on Gmail or on Hotmail (this shouldn't require a phone). And with that account open a new clouflare account and enable pokeapi there.

Are we really sure to continue to use clouflare? In my opinion it caused too many cors problems.

Moreover Netlify acts also as a CDN. I think.

I would use the same url pattern for this static d

[2018-09-09 19:57] tdmalone commented on #354
Woww that’s amazing!! Awesome work @sargunv & @neverendingqs :D

I’ve approved Netlify (and Docker Cloud) for access to the org.

I had in my head that the the API would deploy from the pokeapi repo, and we’d instead install ditto and generate static files in the build job. That way the API is naturally up-to-date on every push and ditto is treated as a library. Does it make more sense this way to

[2018-09-09 20:08] Naramsim commented on #361
Yes, I would say that everybody with the write access should be able to review PRs. Once a PR is opened one can also suggest reviewers.

If the limit is too high right now we can decrease it to 1.

[2018-09-09 20:09] tdmalone commented on #353
@naramsim I’ll create separate issues and/or add these questions to other existing issues - standby for the references to pop up.

[2018-09-09 20:14] tdmalone opened #364 "Should we still use Cloudflare, and if so, is our caching configuration optimal?"
In #353:

According to #352 though, we _may_ get close to Netlify’s bandwidth limits.

@naramsim, what were the CORS issues with Cloudflare? Do you know if they were due to configuration, or whether they’re problems in Cloudflare’s approach?

[2018-09-09 20:15] cmmartti commented on #353
In #355 [(comment)](https://github.com/PokeAPI/pokeapi/issues/355#issuecomment-419681785) I suggested moving the API to `api.pokeapi.co` and keeping the website at `pokeapi.co`. We can set up Netlify to proxy requests for `pokeapi.co/api` to `api.pokeapi.co`. This should maintain full backwards compatibility, and we can keep the current API address as the canonical one.

[2018-09-09 20:16] tdmalone commented on #353
That will be no problem - it’s covered in #353 (set up as a Netlify proxy)

[2018-09-09 20:18] tdmalone commented on #353
^ What he said ;)

Although, I think the canonical URL should probably be the new one and we just proxy for backwards-compatibility - although I’ll add this comment to that ticket too.

[2018-09-09 20:26] #361 closed

[2018-09-09 20:28] Naramsim commented on #364
This is the thread: https://github.com/PokeAPI/pokeapi/issues/289

Moreover, across these years, this API has been so stable. By stable I mean the response time. It could vary from 0.1 second to more than 10 seconds. If we go for static files the API will be much more stable and probably faster than ever. This will attract more users, and then more bandwidth.

[2018-09-09 20:37] sargunv commented on #354
I just did it from ditto for now because it's not using anything outside ditto, but we can move the deploy config to be anywhere that makes sense. Maybe to its own repo.

The update job can be set up to use a webhook to react to pushes. I'll work on the updater job next.

[2018-09-09 20:40] cmmartti commented on #355
That's a good point about the performance hit of the proxy. I agree that the canonical API URL should be api.pokeapi.co. We can put up a message on the website to ask users to switch to the new URL and keep the proxy live indefinitely.

Also, is there a way we can track the usage of each URL? (Perhaps that should be a new issue.)

[2018-09-09 20:52] sargunv commented on #364
Yep, the static version responds effectively instantly to every request. Let's see how bandwidth usage is once we've moved the domain, and discuss cloudflare after we've got real data.

[2018-09-09 23:41] #359 closed

[2018-09-10 03:13] neverendingqs commented on #362
TL;DR: I'm okay with any of the options.

Squash and merge (and merge commit) is nice because it automatically includes the Pull Request number in the commit, which is nice when trying to figure out past historical decisions. Rebase and merge does not (and can not really unless a commit gets modified).

However, if I recall correctly, squash and merge only gives credit to the person hitting the me

[2018-09-10 03:17] neverendingqs commented on #353
Based on the [ToS](https://www.netlify.com/tos/), I _think_ we can add non-Netlify records?

[2018-09-10 03:29] sargunv commented on #362
@neverendingqs  It shows something like "Foo authored and Bar committed" in GitHub. Not sure about the underlying Git commit representation; I would assume it just lists multiple authors.

[2018-09-10 05:13] lmerotta commented on #350
Sorry for not responding, I've been working extra hours all weekend !

First, thanks for letting me be part of the PokéAPI org, a dream come true :)

Regarding the domain, I'm happy to cover renewal costs too ! I already have some servers & domain names hosted at a host I was working for a few years ago, so they'll make me pay cheaper than what we usually see ! I'll cover the subject it the other

[2018-09-10 05:16] lmerotta commented on #353
@tdmalone as said in the other issue, I can have a really cheap price for hosting a domain, and managing it's DNS records, so the offer is still valid, and if @phalt is okay I'll start the process on my side.

[2018-09-10 05:27] lmerotta commented on #362
Personnally, I prefer the squash strategy, much cleaner than merge commit. I have no special opinion on rebase too, but having used squash a lot, I'm more familiar with it.

[2018-09-10 06:41] tdmalone commented on #362
It's the same as how GitHub shows it - git has the concept of both an author and a committer.

Aside from that GitHub/git _might_ add multiple authors if multiple authors' commits have been squashed into one? I haven't tested that.

[2018-09-10 23:44] neverendingqs commented on #354
@tdmalone - can you log into https://app.netlify.com/ and see if you have access? It should be under "All Teams" near the top left.

A Netlify representative told me it should be set up already, but I don't see it on my side. Perhaps only org admins can see it?

[2018-09-11 01:03] tdmalone commented on #354
@neverendingqs Not there 😢 I can only see a team I set up for testing awhile ago:

![image](https://user-images.githubusercontent.com/900469/45332095-f2ac0a00-b5b1-11e8-995a-2cec6e6c955f.png)

(And I logged in with GitHub SSO just in case)

I tried going through _Create new team_ but that asks me to select from either the Pro or Business plan.

I'd be surprised if they used GitHub permissions for

[2018-09-11 05:13] lmerotta commented on #362
Well, since the PokéAPI project is older than ditto in this org, can I suggest to keep rebase merging, and change ditto's strategy to rebase ?

[2018-09-11 06:30] tdmalone commented on #362
^ That's probably a good way to get the best of both worlds. Allow both squash and rebase, and try to make the best decision at merge time to avoid losing too much of the context on a big PR.

If this comment, or the previous one from @sargunv, gets a few positive reactions and no negative ones, I'll make the change to the pokeapi repository as well.

[2018-09-12 02:16] neverendingqs commented on #355
I have added the following to this issue:

I thought it fits well here, but we can spin this into its own issue if that works better.

[2018-09-12 02:41] neverendingqs commented on #352
We are now set up! I have reached out to @PokeAPI/contributors in a [separate thread](https://github.com/orgs/PokeAPI/teams/contributors/discussions/2) to get access. Please make any requests there.

[2018-09-12 02:41] #352 closed

[2018-09-12 02:42] neverendingqs commented on #354
@sargunv - I have unchecked the last task for now until you can get it set up on the PokeAPI Netlify account. Feel free to change it around if you want to track that task a different way.

[2018-09-12 03:08] sargunv commented on #353
IIRC there's also a DigitalOcean account being used to host the API right now

[2018-09-12 03:09] tdmalone commented on #353
Yeah I figured we wouldn't need that anymore as soon as we complete the static site migration :)

[2018-09-12 03:12] sargunv commented on #353
I do plan on finding somewhere to host the ditto updater bot, so that's probably something worth transferring if you don't want to depend on something only I control. It should run fine on their smallest container (I plan on testing that today).

I don't mind just running it on my personal server though if we don't transfer that account.

[2018-09-12 05:07] sargunv commented on #354
I've transferred it to the PokeAPI Netlify account: https://app.netlify.com/sites/pokeapi/overview

[2018-09-12 05:07] #354 closed

[2018-09-12 05:37] sargunv opened #365 "Support paged resource lists?"
https://pokeapi.co/docsv2/#resource-lists

Currently, calling something like `/api/v2/pokemon-species/` return a list limited to 20 items. The GET params `offset` and `limit` are also supported to scan through the resource list. The `next` and `previous` fields allow a client to scan through the list.

Example response:
[code]

The static files API returns the full list, with no support for `offse

[2018-09-12 05:37] sargunv commented on #365
Personally, I prefer option (1) -- breaking backwards compatibility in this specific case. My reasons are as follows:

1. **Many clients won't even notice.**
    - Typically, clients just want to get the full list. To do this, they first make a call with `limit=0`, extract the `count` from the request (call it `N`), then make a second call with `limit=N`. This gets them the full list, and that's e

[2018-09-12 05:50] lmerotta commented on #365
Doesn't this relaunch the discussion of having a new `/api/v3` entrypoint, and deprecating v2 via a notification on the homepage / the docs ?

[2018-09-12 06:05] sargunv commented on #365
@lmerotta Can you link to where that happened?

If we launch a v3 but keep v2 running, we've still got to host it somehow. The only way out of a dynamic backend is dropping support for `limit` and `offset`. If we launch v3 and drop v2 entirely, then we've broken everyone, not just people using `limit` and `offset` in a very specific way. I wouldn't be opposed to dropping v1 and v2 entirely, but I

[2018-09-12 06:08] tdmalone commented on #365
Ahhhhh damn.

I empathise with all of the backwards-compatible thoughts and we really should just increment to v3 if we are going to do this. That's always the way it should work - a version is a contract with the users. But at the same time, all the points you've made @sargunv I also agree with.

I wonder (wondering out loud here...) if there is any way we can find some sort of middle-ground. For

[2018-09-12 06:12] lmerotta commented on #365
Hm, maybe I didn't explain myself correctly. I was actually meaning what @tdmalone said, keeping /v2 but not updating it with new data, and adding a /v3 endpoint, so the contract would be maintained for /v2 users, and they could have all the time they want to migrate to /v3

@sargunv I'll look up in the issues where the /v3 endpoint question arised, and edit this post once found :)

[2018-09-12 06:28] tdmalone commented on #365
@sargunv The reason I suggested the v3 in that scenario is an assumption that we can't proxy _only part_ of v2 from Netlify to Digital Ocean. I don't know exactly how the proxying works, but I'm doubting that we get as much control as we would with, say, an nginx or Apache config file. So, I'm not sure we _could_ serve static files for _only_ non-resource-list requests on v2.

v3 in this scenario

[2018-09-12 06:41] sargunv commented on #365
@tdmalone I believe Netlify will support proxying specific types of paths. Something along these lines:

[code]

Docs are here: https://www.netlify.com/docs/redirects/

[2018-09-12 06:54] cmmartti commented on #365
@lmerotta The problem with keeping v2 with limit/offset forever is that it costs a lot more and is not very performant. That's why we started this whole static file.

I am inclined to support @tdmalone's suggestion to keep v2 up until Digital Ocean stops supporting Paul's server and make a v3 with breaking changes that people can switch to immediately. Really I can't see any disadvantages to this

[2018-09-12 07:01] sargunv commented on #365
@lmerotta @tdmalone I'm testing out https://github.com/PokeAPI/ditto/pull/27 on Netlify right now.

I've just found out about [Netlify's support for AWS Lambda functions](https://www.netlify.com/docs/functions/). If our open source plan also includes that, that it's an option for continuing to support `limit` and `offset` indefinitely without a dependency on PokeAPI.

[2018-09-12 07:16] sargunv commented on #365
Well it certainly does [something](https://pastebin.com/raw/2dQiB9SD) but I'm not quite sure what. I'll investigate this and the lambda functions option tomorrow.

[2018-09-12 08:54] phalt commented on #353
Currently pokeapi is on namecheap. When you know which account you want me to transfer it to I can do that.

[2018-09-12 08:57] phalt commented on #365
From a professional API point of view, breaking API contracts is a definite no-no. That said - the people using the APIs currently are likely to have moved on from their project or don't mind changing to support a new contract.

I'd say change it, see what people say about it. Provide good documentation and upgrade paths.

[2018-09-12 09:05] sargunv commented on #353
IMO the domain should go to a pokeapi account controlled by the admins rather than any one person's account.

[2018-09-12 11:08] phalt commented on #353
Honestly I am happy to maintain the domain as I'll need to change it maybe once and then I can just keep paying for it.

[2018-09-12 13:59] kinkofer commented on #365
As a mobile dev, paged resources are extremely helpful. I hope this can be supported in the new version. I'm not sure I can offer much help with this effort, but if there's something I can help with I'll jump in.

[2018-09-13 00:19] neverendingqs commented on #353
Based on the conversation above, I think these are the options that makes the most sense (wrt. domain management):
* Easiest - @phalt continues to own it
* Next easiest - migrate the domain to Netlify so there's shared ownership while avoiding adding (yet) another account to manage
* Next - migrate the domain to some shared account

[2018-09-13 00:31] neverendingqs commented on #365
If I'm understanding the API correctly, PokeAPI is a hypermedia API. If so, clients are (supposed?) to use whatever `next` and `previous` are pointing to. If that's the case, there is an argument to host static files with batches of our choosing, and simply ignore requests for a custom batch size. The documentation seems clear that using `next` and `previous` is how we support navigating the pagin

[2018-09-13 00:31] tdmalone commented on #353
Oh! I didn't realise Netlify manages domain registrations as well. Do you know if they will transfer in already-owned domains? They don't seem to specifically comment on that in either https://www.netlify.com/docs/dns/#domain-transfer or https://www.netlify.com/docs/dns/#adding-domains

If yes.. I think this would my desired option, to keep everything together.

Even easier I think is just a free

[2018-09-13 00:38] neverendingqs commented on #365
Lambda functions are a sort of back-end, and could be used to dynamically generate JSON. However, going that route is basically going back to a back-end server implementation, but with concatenating JSON files in the background instead of a DB (which may or may not be viable).

Side note: we can actually run Express.js using Netlify functions if we really want. A blog post about that is scheduled

[2018-09-13 01:02] neverendingqs commented on #365
Oh also, if we do want to go with a v3, another option could be to host v3 on a different subdomain. That removes the need to deal with redirects.

[2018-09-13 01:05] neverendingqs commented on #353
I see this in https://www.netlify.com/docs/dns/#adding-domains:

If that doesn't work or alternatively, I can reach out to them.

Sounds good. Minor concern: is it owner access or just collaborator access?

[2018-09-13 01:16] tdmalone commented on #353
@neverendingqs Yeah it might be worth reaching out to them to clarify. They talk about creating a DNS zone, but not about transferring the registration (for a domain registered elsewhere).

Re Heroku - just collaborator access, for the invited collaborators. Only the main account would have owner access to the app. The password for that account would just need to be known by only 2-3 people and ch

[2018-09-13 01:49] neverendingqs commented on #353
Teams are better so that each person manages their own password (and 2fa). Shared passwords usually means plaintext passwords somewhere :( . But yea, Heroku plays such a small part today that it might not make sense to focus on it right now.

[2018-09-13 05:14] sargunv commented on #365
@neverendingqs:

That's basically what the naive static files implementation does, but where the batch of our choosing is the entire list.

There's no concatenation or any complex work, it'll just read the single JSON for the resource list and replace the array with a selected range before returning it. Here's [a sample implementation](https://github.com/PokeAPI/ditto/blob/master/pokeapi_ditto/com

[2018-09-13 08:14] phalt commented on #365
This is the key word here @neverendingqs :)

Most users of PokéAPI are students learning to use APIs for the first time.

[2018-09-13 09:15] sargunv commented on #365
I'm doing some testing of the lambda functions in https://github.com/PokeAPI/ditto/pull/28. Looks like it's going to work well, so no need to drop support for this feature after all. 👍

[2018-09-13 21:09] tdmalone commented on #355
@cmmartti Maybe just ‘pokeapi-website’? I usually wouldn’t put the domain in the repo.

[2018-09-13 22:12] neverendingqs commented on #353
FYI

[2018-09-13 22:13] cmmartti commented on #355
The reason I included the domain is because for all intents and purposes, the website _is_ the domain, and it is unlikely that the official site is ever going to move from pokeapi.co. Just like the [reactjs/reactjs.org](https://github.com/reactjs/reactjs.org) and [vuejs/vuejs.org](https://github.com/vuejs/vuejs.org) repositories. In the same spirit, I favour "pokeapi.co", but I suppose the name is

[2018-09-13 22:28] tdmalone opened #366 "Licensing change"
As raised in #355, in the context of the new static pokeapi.co site:

The current PokeAPI license is located [here](https://github.com/PokeAPI/pokeapi/blob/master/LICENSE.rst).

As well as modifying the license for the pokeapi.co static site (which will be in a new repo), I think we should also do the same for the main pokeapi repo, and I propose that we do so in exactly the same way: that is, by

[2018-09-14 18:31] cmmartti commented on #355
A partially complete version of the static site is now live at https://pokeapi-co.netlify.com/. It is built using [Gatsby](https://www.gatsbyjs.org/), a static site generator for React.

For now, there's a placeholder in place of the logo in the header, the documentation pages are empty, and some minor styling is missing (in the About page). The proxy redirect of /api to the old API works fine, as

[2018-09-15 02:18] neverendingqs commented on #365
Just realized - we should also do some calculations around how many function invocations / runtime this might use up. The [pricing plan](https://www.netlify.com/pricing/) shows we have 125k invocations / 1000 hours per month (125k invocations is probably the limiting reagent).

[2018-09-15 02:31] sargunv commented on #365
The total requests to pokeapi are currently well under 100k/month, and the resource lists are some number less than that, so also well under 100k/month. It's one function invocation per resource list request, so we're fine on that front.

100 hours gives us 2.88s/invocation if we use the max of 125k invocations, which is more than enough.

The only concern I can think of is that the API becomes mu

[2018-09-15 02:35] sargunv commented on #365
Oh wait, no, we're at tens of thousands of requests/day. I was thinking /month. That changes the numbers drastically.

[2018-09-17 08:45] phalt commented on #365
Smart caching on DNS should keep this down.

This was during Pokémon GO hype time. When we were getting around 250k a day. Now it is around 40k on a good day. 20k a day on average

[2018-09-17 08:48] phalt commented on #355
Nice work @cmmartti !

[2018-09-19 17:49] bcavill opened #368 "504 Gateway error pokeapi.co"
Hi just wanted to let you know that I am getting a 504 Gateway error from the website and API. Not sure if this was the best way to inform you but I couldn't see another way.

[2018-09-19 17:54] bcavill commented on #368
It has come back now. Closing issue.

[2018-09-19 17:54] #368 closed

[2018-09-19 22:15] jrubinator commented on #350
Apologies for the much-delayed response: I have a smattering of experience, but nothing like expertise in any of the changes. I'm also pretty low on free time, but would be happy to lend a hand where I can!

Also, pinging @GregHilmes, the maintainer of of [pokebase](https://github.com/GregHilmes/pokebase) - they've been making some changes there recently, and may find this conversation interesting

[2018-09-19 23:07] GregHilmes commented on #350
I would love to do *anything* related to this project. Unfortunately (like most here, I'm guessing) I don't have the available time. I just started pursuing my CS degree this past August and it has taken more of my personal coding time than I would like (hence the sudden drop in pokebase commits).

As PokeAPI moves forward, I would like to stay somewhat in-tune with the changes, and keep maintaini

[2018-09-20 02:52] cmmartti commented on #364
In [api-data#7](https://github.com/PokeAPI/api-data/issues/7#issuecomment-422683169):

It looks like Cloudfare can do rate limiting [fairly easily](https://support.cloudflare.com/hc/en-us/articles/235240767-Cloudflare-Rate-Limiting).

Notably:

If the [docs](https://pokeapi.co/docsv2/) page is accurate, the current rate limit is 300 requests per resource per IP address per day (so a single IP addr

[2018-09-20 03:12] sargunv commented on #364
How does CloudFlare's caching work? Will it be able to cache responses to requests with specific GET queries? If so, it should work well to reduce our lambda function usage with resource lists. I'd still recommend some generous rate limiting (unreachable by normal use) though, since a malicious client could use up our lambda function quota by requesting various combinations of `offset` and `limit`

[2018-09-20 03:33] cmmartti commented on #364
It looks like CloudFlare does not cache JSON/HTML by default, but it can be set to [cache everything](https://blog.cloudflare.com/introducing-pagerules-advanced-caching/) by creating a wildcard page rule like `pokeapi.co*`.

As far as requests with GET query strings, it looks like it does cache those, but every permutation is cached separately unless [query string sorting](https://blog.cloudflare.

[2018-09-20 03:38] sargunv commented on #364
That sounds like it should work for us. Anyone want to test it out with our static API and see how it goes?

[2018-09-20 03:58] Exergist commented on #350
@tdmalone All the folks here are clearly FAR more knowledgeable about everything related to maintaining/improving/transferring PokeAPI, so it would definitely be best for me to not muddy the water (I'm more of a novice C# hobbyist).

As of right now it looks like data requests are not going through. I haven't been following all the dialog closely, so maybe this was planned. In any event, is the in

[2018-09-20 04:11] sargunv commented on #350
@Exergist: Nope, that's not the intention; this outage wasn't planned.

[2018-09-20 06:21] sargunv opened #369 "PokeApi Outage"
There have been some reports both in Slack and in #350 of PokeApi being down. I can confirm that most resource requests don't work, but resource list requests do. For example: https://pokeapi.co/api/v2/pokemon/32/ returns a 500 Internal Server Error.

Interestingly enough, the same problem appeared on my *local* instance of PokeApi too after I reset the volumes and restarted the application. It's

[2018-09-20 06:29] sargunv commented on #369
The app log: https://pastebin.com/raw/w5ABPeNS

The interesting part, on a call to /api/v2/language/

[code]

[2018-09-20 06:56] sargunv commented on #369
(Please ignore the reply I made earlier and deleted -- I forgot to `build_all`)

You can see the updater bot was affected with its own local pokeapi instance here: https://github.com/PokeAPI/api-data/pull/8. Resource lists are regenerated fine, but regular resources are 500.

[2018-09-20 13:32] TeddyGandon commented on #369
I can confirm the issue too, http code returned is 500 for single resources (for instance https://pokeapi.co/api/v2/pokemon/1/)

[2018-09-20 21:47] Zo-Bro commented on #369
@sargunv  Hi, I am a super novice developer making a map utility app using pokeAPI. I know this is unrelated to the post, but I wanted to ask you about how you created your local instance of the API? I eventually want to port to Android and running offline will be essential. How do I get a permanent local copy of the database?

[2018-09-20 22:15] annieannie opened #370 "Parsing failed SyntaxError: Unexpected token < in JSON at position 0, GET status500 at https://pokeapi.co/api/v2/pokemon/1/"
Hi,
 Please see below screenshots:
![parsing failed er1](https://user-images.githubusercontent.com/31458661/45849474-51c6f880-bcef-11e8-81a0-774d09396ed0.PNG)
![parsing failed er2](https://user-images.githubusercontent.com/31458661/45849480-59869d00-bcef-11e8-8fab-10abb0c8fde2.PNG)

- fetch request to  https://pokeapi.co/api/v2/pokemon/11/ , https://pokeapi.co/api/v2/pokemon/14/, etcetera gives Pa

[2018-09-20 22:29] tdmalone commented on #369
Hi @Zo-Bro, we'd love to help you out - can you please either create a new issue though or ask in the Slack team? Will help this discussion focussed. In the meantime there are instructions for getting started with a local instance [here](https://github.com/PokeAPI/pokeapi#setup-), but do feel free to ask if you need help.

[2018-09-20 22:31] tdmalone commented on #370
Hi Annie, this is related to a current outage - see #369.
The parsing error is because the outage is causing HTML to be returned rather than JSON.

[2018-09-20 22:31] #370 closed

[2018-09-21 01:12] Tylertron1998 commented on #370
@tdmalone any ideas how long this might take to fix? Sorry to seem inpatient haha, just good to get an idea as I'm planning to use this for a project.

[2018-09-21 04:19] Defiled commented on #369
I'm getting a similiar issue that's outputting "Whoops! That's not allowed!" on the page and returning a 404 error in the console:

Using //@ to indicate sourceMappingURL pragmas is deprecated. Use //# instead  jquery.js:1
Source map error: request failed with status 404
Resource URL: https://pokeapi.co/static/pokemon/js/jquery.js
Source Map URL: jquery.min.map

[2018-09-21 04:43] cmmartti commented on #347
Hi @crazycat9x, thanks for bringing this up. This will be fixed in the [new website](https://github.com/PokeAPI/pokeapi.co).

[2018-09-21 07:15] sargunv commented on #369
@phalt could you look into this? Afaik none of the other maintainers have access to the current prod instance of the service.

[2018-09-21 08:38] tdmalone commented on #370
@Tylertron1998 Pls see #369 to follow this discussion, so we can keep it all in the one place. :)

[2018-09-21 08:49] phalt commented on #369
@sargunv I do not have time. Someone from the new @PokeAPI/contributors team email me your email and I'll invite you to the digital ocean group.

[2018-09-21 08:54] tdmalone commented on #369
Thanks @phalt, e-mail sent. Other @PokeAPI/contributors I'll be in touch with access for you as well soon.

People have asked how long this might take to resolve - unfortunately at this stage the answer is: as soon as someone can look into it.

We don't know exactly what's happening. If anyone _can_ help to figure it out, please shout out (@sargunv mentioned a potential cause in the first post of

[2018-09-21 08:56] tdmalone commented on #369
@sargunv You had a bit of insight into this - do you think this is fixable/worth fixing? Or should we just deploy static files on the current server if you can still build them fairly easily?

[2018-09-21 11:59] tdmalone commented on #369
Hey guys, I don't know how to solve the actual problem that's occurring, so I've done a bit of a patch job and cloned the static API data from https://github.com/PokeAPI/api-data/ and replaced the base URLs (`find . -type f -iname '*.json'  -exec sed -i.bak 's/$BASE_URL_PLACEHOLDER/https:\/\/pokeapi.co/' "{}" +;`).

So, the API should now (largely) be back up. There may be edge cases that don't wo

[2018-09-21 14:16] sargunv commented on #369
@tdmalone

I don't have a ton of insight atm other than the problem seemed to be happening on a local instance too occasionally (but I couldn't reproduce reliably). I'd be happy to take a look at the prod instance during the weekend if you give me access.

[2018-09-21 14:45] crazycat9x commented on #369
@tdmalone cheers 🍻 the static API worked for node js. But on browser applications, I get "Cross-Origin Request Blocked" error, just need the server to have the "Access-Control-Allow-Origin" header I think

[2018-09-21 18:20] cmmartti commented on #369
It looks like the `api-data` repo only includes JSON files for resources by ID, but not by name (e.g. `http://localhost:8000/api/v2/pokemon/bulbasaur/`), so the API is only halfway back up.

[2018-09-21 18:38] sargunv commented on #369
Ah, I didn't realize you could request by name, since there's no link to those in the resource lists. Is it a feature we need to support in the new version? If so Ditto will need to produce those files in the `transform` step.

[2018-09-21 20:11] tdmalone commented on #369
Ah... yes we’ll need to add support for that then!

[2018-09-21 20:11] Anu6is commented on #369
Yes, please. I for one use the named calls in a few places for my application

[2018-09-21 20:15] tdmalone commented on #369
Website & docs should be back up now too, thanks to @naramsim and @cmmartti

[2018-09-21 20:41] tdmalone commented on #369
v1 API is partially back online for those who use that, but there are broken things there.

Also @crazycat9x we think we might’ve fixed the CORS issue now - can you confirm?

[2018-09-21 22:41] crazycat9x commented on #369
@tdmalone Yes, can confirm 🎉 and can also confirm that this static approach is blazing fast 2 🙂

[2018-09-21 23:47] Anu6is opened #371 "Website API Explorer example links don't work"
Outside of issue with named api endpoints not currently working, the example links provided on the website, that encourage users to "Try it now!", all return `null`. Manually adding a forward slash `/` to the URL successfully returns the expected results.

Issue: [https://pokeapi.co/api/v2/pokemon/1](https://pokeapi.co/api/v2/pokemon/1) returns null in the [API explorer](https://pokeapi.co/)

[2018-09-22 00:44] cmmartti commented on #369
I'm running into CORS errors in the API explorer on the homepage, even though the origin and the API are on the same domain. I didn't have any issues with the Netlify-hosted API. I don't know if this is a problem with the server or the web app.

[2018-09-22 02:42] tdmalone commented on #369
@cmmartti That was definitely working several hours ago... @Naramsim do you know if your changes to the CORS headers would have affected that?

[2018-09-22 02:43] cmmartti commented on #369
Per #371, it's actually a problem with the URLs not ending in slashes.

[2018-09-22 02:44] cmmartti commented on #371
Oh, that's why it doesn't work. I'll correct the sample links to end in slashes and see if we can fix the server to redirect to the correct URL.

[2018-09-22 02:45] tdmalone commented on #369
Ohh right. Interesting. The API explorer definitely worked when I tried it earlier.. so either we removed the slashes in the explorer, or the CORS fix broke it 😛

[2018-09-22 02:47] cmmartti commented on #369
It worked before I changed the URL, but not after. I just didn't have time at the moment to diagnose it.

[2018-09-22 03:02] cmmartti commented on #347
[Done!](https://pokeapi.co/docs/v2.html)

[2018-09-22 03:02] #347 closed

[2018-09-22 03:05] cmmartti commented on #371
The sample links in the API explorer have been fixed, as have the URLs in the documentation (#347).

[2018-09-22 04:04] Anu6is commented on #371
Confirmed

[2018-09-22 04:04] #371 closed

[2018-09-22 04:09] tdmalone commented on #369
Just summarising that the only outstanding part of this ticket (as far as I can tell) is getting named resources (eg. /pokemon/bulbasaur) back up. @sargunv is working on that now (pokeapi/ditto#33).

If anyone else is experiencing any other issues just let us know!

[2018-09-22 15:19] benjaminledet opened #372 "Limit doesn't work"
Hi, when I call an api endpoint like "https://pokeapi.co/api/v2/pokemon/", I'm getting the full list of Pokemon or the doc says :
"Calling any API endpoint without a resource ID or name will return a paginated list of available resources for that API. By default, a list 'page' will contain up to 20 resources. If you would like to change this just add a 'limit' query parameter, e.g. limit=60."

I t

[2018-09-22 15:28] cmmartti commented on #369
#372 brought up the issue of broken pagination with `offset`/`limit`. Obvious in hindsight, but not something I thought to consider. I will add this to the alert message on the website.

[2018-09-22 15:54] Naramsim commented on #369
Anyway, this error will not break client apps.

[2018-09-22 15:58] cmmartti commented on #369
Not all, but it might break some.

[2018-09-22 20:30] bclindner commented on #289
CORS seems to be strange overall - I can get this endpoint to work fine in Firefox and Chrome:
`https://pokeapi.co/api/v2/pokemon/1/`

But not this one:
`https://pokeapi.co/api/v2/pokemon/bulbasaur/`

Just adding some info to the pile.

[2018-09-22 20:40] cmmartti commented on #289
@bclindner This is a side effect of the outage we had Thursday and Friday. We implemented a quick fix (uploading static JSON files to the server) in anticipation of moving the API to a static host at some point in the near future, but not everything works. Named endpoints only work for pokemon right now, for example. There are still a couple of hurdles to get over, but once we finally move to stat

[2018-09-22 21:18] tdmalone commented on #372
Related: #365

[2018-09-22 21:36] Naramsim commented on #289
I added the CORS to named res. https://pokeapi.co/api/v2/pokemon/golduck/

[2018-09-22 22:10] tdmalone opened #373 "Availability of named resources (for current hosting)"
This issue is to consolidate updates for the current outage of named resources (eg. /pokemon/bulbasaur) into one place.

See also #374 for work on getting named resources working when we move to Netlify.

[2018-09-22 22:11] tdmalone opened #374 "Availability of named resources (for new hosting on Netlify)"
This issue is to discuss supporting named resources (eg. /pokemon/bulbasaur) when we move to Netlify.

See also #373 for work on fixing named resources on our current hosting.

[2018-09-22 22:18] sargunv commented on #373
[_dist.tar.gz](https://github.com/PokeAPI/pokeapi/files/2408212/_dist.tar.gz)

This archive contains all the static files we need for current hosting. It contains the api-data files processed to include the base url and named resources.

[2018-09-22 22:18] tdmalone commented on #369
New ticket to track named resources outage: https://github.com/PokeAPI/pokeapi/issues/373

I'm now closing this ticket, as all other issues in here have been resolved (or placed into other tickets).

[2018-09-22 22:18] #369 closed

[2018-09-22 22:31] tdmalone commented on #373
@Naramsim is now sorting this out live.

[2018-09-22 22:36] Naramsim commented on #374
https://pokeapi.co/api/v2/item/old-rod/

[2018-09-22 22:37] Naramsim commented on #374
maybe I shouldn't have closed the issue...

[2018-09-22 22:37] sargunv commented on #374
You got the wrong one :) It's https://github.com/PokeAPI/pokeapi/issues/373

[2018-09-22 22:39] tdmalone commented on #373
Fixed by @Naramsim:

https://pokeapi.co/api/v2/item/old-rod/
https://pokeapi.co/api/v2/berry/chesto/

Just need to confirm CORS is all good still.

[2018-09-22 22:43] Tylertron1998 commented on #373
https://pokeapi.co/api/v2/pokemon/charmander/ - doesn't seem to work for pokemon, unless I am maybe using the api wrong?

[2018-09-22 22:45] Naramsim commented on #373
On my side it is fine

[2018-09-22 22:45] sargunv commented on #373
It's working for me in Chrome at least. How are you making the request?

[2018-09-22 22:45] cmmartti commented on #373
It didn't work for me, then a minute later it did.

[2018-09-22 22:45] Tylertron1998 commented on #373
strange, I get a 500

[2018-09-22 22:45] tdmalone commented on #373
Oh, it's working now - a moment before it didn't!

[2018-09-22 22:45] Tylertron1998 commented on #373
Oh, hmm yeah it's back up. Yay? Haha, good job guys!

[2018-09-22 22:48] tdmalone commented on #373
Ok, so named resources are mostly back up, except for encounters, which get a 404.
eg. https://pokeapi.co/api/v2/pokemon/magikarp/encounters/

https://github.com/PokeAPI/ditto/issues/33 has been re-opened to add this feature to the upstream, when that's done, we can redeploy.

[2018-09-22 23:38] sargunv commented on #373
Generated the fixed archive: https://github.com/PokeAPI/api-data/releases/download/2018-09-22/_dist.tar.gz

[2018-09-22 23:55] sargunv commented on #373
https://pokeapi.co/api/v2/pokemon/magikarp/encounters/

[2018-09-22 23:55] #373 closed

[2018-09-23 00:07] sargunv commented on #374
https://pokeapi-prod.netlify.com/api/v2/pokemon/magikarp/encounters/

Looks like all we needed to do is disable post processing (we weren't using that anyway)

[2018-09-23 00:18] tdmalone commented on #374
Ohh niiice, awesome find @sargunv!!

[2018-09-23 00:50] tdmalone commented on #353
I have e-mailed Paul to follow up on the account list above - specifically Cloudflare, so we can repoint the DNS when we're ready.

[2018-09-23 00:50] tdmalone commented on #355
Awesome work on this @cmmartti! Is this issue ok to close?

[2018-09-23 00:52] tdmalone commented on #372
I'm going to close this issue as there is nothing actionable for us at the moment. As @cmmartti mentioned, it will be fixed as soon as we move to Netlify. Apologies in the meantime!

[2018-09-23 00:53] tdmalone commented on #350
I'm going to close this issue now as everything related to the handover is being discussed in other issues.

The main home for this is the meta-project at https://github.com/orgs/PokeAPI/projects/1

[2018-09-23 00:53] #350 closed

[2018-09-23 00:56] cmmartti commented on #355
Yes, I think we've covered all the bases. Any new issues can be made in the pokeapi.co repo.

[2018-09-23 00:56] #355 closed

[2018-09-23 00:58] sargunv commented on #374
I spoke too soon. Not sure why that build succeeded, but the next one failed again.

[2018-09-23 01:02] tdmalone commented on #374
Netlify have responded to my e-mail to say the only way to increase build time is to upgrade to Enterprise, which provides a 'custom build network' with a longer timeout. Otherwise, each build command has up to 15 mins, and the entire build has up to 30 mins.

I assume Enterprise is not something they would upgrade our current open source [Team Pro plan](https://www.netlify.com/pricing/) to (which

[2018-09-23 08:37] Naramsim commented on #374
A workaround could be to build on Travis and then upload from Travis to Netlify all the generated things

[2018-09-23 20:35] sargunv commented on #374
Now we've got a build that never terminated nor timed out: https://app.netlify.com/sites/pokeapi/deploys/5ba6e595b312746d754008d9

It's been "Uploading" for nearly 20 hours.

[2018-09-24 22:04] tdmalone commented on #374
Netlify says:

So, I guess we could try the redirect option and see how we go.

Regarding the retries, if we _regenerate_ the deploy they'd most likely be treated as new files, but if we simply reattempt the same deploy again....

I'm triggering a new deployment now and then will try retrying it once it fails.

[2018-09-24 23:54] cmmartti commented on #374
Hmm, too bad Netlify doesn't cache build files across builds if they haven't changed. Well, it seems like they do, but [only on the enterprise plan](https://stackoverflow.com/a/43593355), according to that Stack Overflow answer.

[2018-09-25 06:09] sargunv commented on #365
Closing this since we've got workable solutions on both Netlify and Firebase.

[2018-09-25 06:11] sargunv commented on #374
I guess next time we change our data it might require multiple uploads again. Atm [the firebase experiment](https://pokeapi-215911.firebaseapp.com/api/v2/) seems to be fitting all our needs and Netlify is also mostly there except for finicky but workable builds and https://github.com/PokeAPI/api-data/issues/11.

Does someone also want to put together an S3 solution in another branch or are we good

[2018-09-25 06:36] sargunv commented on #374
Not sure about S3; I know next to nothing about it, even though I guess I work in that exact field. Someone else would have to take the lead on that if we want to try it.

Our Netlify solution will count resource list requests since they go through a function but not other requests. Our Firebase solution does count all requests since they all go through a Firebase function. However, neither soluti

[2018-09-25 08:19] #365 closed

[2018-09-25 21:57] neverendingqs commented on #374
Sorry late to the game. S3 also suffers from the paginated resources issue unless we fall back to AWS functions, but I'm not sure how that would look. Can we use Edge Lambda here @tdmalone, or would we have to use API Gateway?

Not knowledgeable about GCP or Firebase to comment either, but if you get functions integration for "free", maybe it's better to side that way.

[2018-09-25 22:02] tdmalone commented on #374
We can use Lambda@Edge, but we'd need to use Cloudfront, which is basically/kinda Cloudflare, but not for free. Lambda@Edge is also slightly more expensive than normal Lambda.

We can look into it, but probably only worth it if both Firebase & Netlify don't suit us.

[2018-09-25 22:11] sargunv commented on #374
Any downsides with the Firebase solution atm? I haven't noticed any issues yet so if it works for everyone we can just turn on caching and move forward with that.

[2018-09-25 22:51] neverendingqs commented on #374
Is this related to out-of-date data? Or is the cache returning a wrongly-sized paginated response?

[2018-09-25 22:53] cmmartti commented on #374
@neverendingqs I think he means in regards to usage stats.

[2018-09-26 22:43] sargtier1 commented on #372
so what does this mean?

[2018-09-27 03:03] cmmartti commented on #372
@sargtier1 It means that queries that include either `?limit=100` or `?offset=100` (any numbers) will not respect the requested page and will instead return the entire result set, however large it is. This is temporary and will probably be fixed by the end of the week or next week.

[2018-09-28 06:40] bclindner opened #375 "Missing Pokedex numbers for Gen 7 pokemon-species requests"
Hey! Looks like Pokedex numbers are missing from some or all of the Gen 7 Pokemon species, at least on the `https://pokeapi.co/api/v2/` endpoint. [Here's an example](https://pokeapi.co/api/v2/pokemon-species/incineroar/) - you'll find the entire `pokedex_numbers` entry is just an empty array on the `pokemon-species` request for Incineroar, Mimikyu, etc.

For other Pokemon outside of Gen 7, you sti

[2018-09-30 02:16] tdmalone opened #376 "Flick the pokeapi.co domain over to our new static hosting"
This is an issue to track the 'flicking over' of pokeapi.co to our new static hosting, which is highly likely to be Firebase!

Note that a few things need completion first:
- [x] Deployment of the API (https://pokeapi-215911.firebaseapp.com/api/v2/)
- [x] Deployment of the documentation site (PokeAPI/pokeapi.co#13)
- [x] Set up and verification of pokeapi.co and www.pokeapi.co as custom domains +

[2018-09-30 02:34] tdmalone commented on #364
Update: given we now have access to PokeAPI's Cloudflare account but not yet the domain itself; and given we're likely to be hosting on Firebase now rather than Netlify and I don't _think_ Firebase does DNS hosting directly, I think it makes the most sense to continue using Cloudflare.

Leaving this issue open, however, as a pointer to look into/tweak the caching setup.

[2018-09-30 08:07] aviveldan opened #377 "Would love to contribute"
Hello guys,
My name is Aviv.
I am looking for a first github project to contrubute to.
I learn python so i can automate some tasks or any idea that comes to your head.
Gotta catch 'em all!

[2018-09-30 11:06] Naramsim commented on #377
Jump on our Slack

https://github.com/PokeAPI/pokeapi#join-us-on-slack

[2018-09-30 11:06] #377 closed

[2018-09-30 11:15] Naramsim commented on #375
Hi, Veekun does not provide this kind of data for pokemons with an ID above 721

https://github.com/veekun/pokedex/blob/master/pokedex/data/csv/pokemon_dex_numbers.csv

Incineroar has the ID 727

[2018-09-30 11:15] #375 closed

[2018-10-02 20:25] charliejcook opened #378 "Poke Api limit query"
Hi,
I am parsing this URL but the limit query isn't working and returns all 800 pokemon?
https://pokeapi.co/api/v2/pokemon/?limit=150
Is this known or is there a work around?

[2018-10-02 20:34] cmmartti commented on #378
Pagination using `offset`/`limit` is temporarily broken until we complete the move to static hosting, which should happen within a few days. Check the outage alert message on the https://pokeapi.co home page.

If it has already been dismissed, it says:

[2018-10-02 20:34] #378 closed

[2018-10-03 01:28] tien opened #379 "Pokemon types are inverted"
All the pokemon secondary type appear as the first element in the type list.
The order is correct when I ran a local Django instance

[2018-10-03 01:33] sargtier1 commented on #372
thanks for the feed back brother!

[2018-10-03 01:41] tdmalone commented on #379
Hm.. interesting. Ordering of array items generally isn't guaranteed - but can you post a copy of what you're seeing compared with what you want to see?

[2018-10-03 01:45] crazycat9x commented on #379
[code]
When I ran it locally it's
[code]

[2018-10-03 02:03] tdmalone commented on #379
Ok, so what you need to do here is use the `slot` to determine which should be the first type.

I agree, it would be ideal if they came out in order, but arrays are generally an unordered collection - so the ordering can't be guaranteed.

Having said that, I'm pinging @sargunv in case this is a regression due to us moving to statically generated files. Whether or not it's a fixable regression... p

[2018-10-03 02:05] sargunv commented on #379
That's really weird, ditto should be preserving order of arrays during a clone. But yeah, the API spec doesn't guarantee any specific order, use slot to determine order.

[2018-10-03 05:28] crazycat9x commented on #379
I'll stick with the slot num for now just to be safe. But I still can't help but think that something is wrong since all the types array is flipped 🤔

[2018-10-04 15:18] arnavb opened #380 "Why are Pokemon height and weight ten times their actual value?"
When I create a sample request for a pokemon, say Garchomp (445), I get that its weight is stored as 950 (950 what?) and its height `19`. Checking bulbapedia and pokemondb, I see that these values should be 95.0 and 1.9 respectively. Evidently, these values are ten times what they should be. This can be seen with other pokemon as well. Since JSON supports floating point numbers, why not just place

[2018-10-04 16:55] Naramsim commented on #380
We take our data from Veekun.

We do not modify their data.

[2018-10-04 16:55] #380 closed

[2018-10-04 23:45] tdmalone commented on #380
Just to clarify this... @arnavb it's a good question, and you're welcome to open an issue at Veekun about it: https://github.com/veekun/pokedex/issues

If there's a good reason Veekun can't/won't change the data and that same reason doesn't apply to PokeAPI, I suppose we _could_ make a case for adjusting the data, but it would probably not be ideal as it would introduce additional complexity to th

[2018-10-05 00:37] Anu6is commented on #380
Just a note on this. While it may not be a breaking change as such to "correct" these values, it can have an impact on projects that are consuming these values as is and making the necessary adjustments internally.

[2018-10-05 00:44] tdmalone commented on #380
^ That's a good point. If we changed them, it would have to be an API version increase for that reason.

[2018-10-05 00:47] sargunv commented on #380
I'm not sure why we need to discuss making a breaking change for this. Just
update the docs to mention we report height in decimeters. Our number isn't
incorrect, we just need to clarify units.

On Thu, Oct 4, 2018 at 17:44 Tim Malone <notifications@github.com> wrote:

[2018-10-05 01:03] tdmalone commented on #380
@sargunv That's why this issue is closed and https://github.com/PokeAPI/pokeapi.co/issues/19 is open instead :)

[2018-10-05 02:04] sargunv commented on #380
Cool, just following from email so I didn't notice it's closed :)

On Thu, Oct 4, 2018 at 18:03 Tim Malone <notifications@github.com> wrote:

[2018-10-05 07:56] phalt commented on #380
Doesn't need a change. It's the data we consumed originally.

In software you can just divide by 10 ;)

[2018-10-05 12:00] tdmalone commented on #380
Thanks for checking up on it!

While I agree it would make more sense for us to be presenting the values divided by 10, given the feedback in this issue I'm not sure we should now, because:
- there's no precedent for us adjusting the Veekun data, so introducing an adjustment introduces extra complexity into the management of the API
- it'll be a breaking change, so can't be done without incrementi

[2018-10-05 12:40] arnavb commented on #380
Cool, thanks for the clarification!

[2018-10-11 18:38] enriquezm commented on #293
Has this been solved? It seems to be fine now.

[2018-10-12 06:28] armadsen opened #381 "https URLs sometimes return a 301 "Permanently Moved" to an http equivalent"
When I hit `https://pokeapi.co/api/v2/pokemon/bulbasaur`, I get a 301 to `http://pokeapi.co/api/v2/pokemon/bulbasaur`. Is there a a reason for the redirect to the insecure http URL?

Interestingly, `https://pokeapi.co/api/v2/pokemon/` does not redirect, and works fine.

[2018-10-12 15:45] sargunv commented on #293
Yep, the move to static files has solved this.

[2018-10-12 15:45] #293 closed

[2018-10-15 00:55] cbouwense commented on #372
Is this still an issue

[2018-10-15 00:58] tdmalone commented on #372
@cbouwense Yes it is - it will be until we complete our move to static hosting, which is hopefully going to be shortly!

[2018-10-16 02:47] cmmartti commented on #381
That's odd; I'm not seeing the same behaviour. In any case, we will soon be moving to static hosting on Firebase, so it shouldn't be an issue once that happens.

[2018-10-16 06:48] Naramsim commented on #381
I'm experiencing the same behaviour described by @armadsen, to avoid it you could just use by default https and add the ending slash

[2018-10-16 20:55] s-Hale commented on #381
Same; I'm using Codepen and it's automatically blocking the link now, due to a redirect from https to http. Using https and the slash isn't fixing it. Hope the Firebase move helps.

[2018-10-16 22:47] renatoi opened #383 "Search for a pokemon"
I'm trying to find a way to search for pokemons based on name (not exact search), for example, Star Wars API has this:

https://swapi.co/api/people/?search=sk

Is there anything like that in Poke API?

[2018-10-16 23:49] sargunv commented on #383
I recommend just getting the entire list and filtering for name on the client side, it's only <1000 elements in the list.

[2018-10-17 00:35] Kronopt commented on #372
This shouldn't be closed as it is still an issue.

[2018-10-17 05:08] cmmartti commented on #383
@renatoi Unfortunately, without caching every Pokémon resource, @sargunv's suggestion will only work in English. However, I am building a GraphQL API for PokéAPI that will allow complex filtering, including by name in any language, as well as by other criteria. Work on that is currently paused, but I hope to get back into it soon.

[2018-10-18 05:11] SirSkaro commented on #383
What I currently use is a MySQL database and a hand full of spell checkers for each language. Each table includes the names of a resource in each language as well as the "PokeAPI-friendly" name. As long as the guess is close enough, you can get the Pokemon by any of its names. The tables are pretty easy to generate, though the spell checkers can be a bit more time consuming.

The GraphQL API sound

[2018-10-18 09:45] remy-poirier opened #384 "Set global langs for all endpoints"
Hello,

I want to know if it's possible to set a default language for the endpoints responses, like in query params ?

I would like to display the full pokemon List in French in my example, but the only way for me to get french names is to get it in the pokemon species or to create a local object of names like :

[code]

Would it be possible to do something like `https://pokeapi.co/api/v2/pokemon/

[2018-10-18 11:39] Kronopt commented on #384
Several resources have their names translated to other languages (like Location, Region, Move).
But Pokemon endpoint resources do not, unfortunately.

[2018-10-18 13:18] Naramsim commented on #384
Hi @remy-poirier, no currently the list is stricly in english. You would have to make 800 calls to know all the translated names of Pokemons.

If you want to know their translated names, query https://pokeapi.co/api/v2/pokemon-species/bulbasaur/ and look and the `names` property

[2018-10-18 13:18] #384 closed

[2018-10-18 16:38] cmmartti commented on #374
Looks like this was solved by moving to Firebase.

[2018-10-18 16:38] #374 closed

[2018-10-18 18:48] Kronopt commented on #384
Sorry...
I searched the docs for `list (Name)` and only a few resources came up...
Some resources are described as `list (Name)` others as `list Name`...
My bad

[2018-10-18 18:54] cmmartti commented on #384
@Kronopt Yep, that's a bug that's fixed in PokeAPI/pokeapi.co#24 but hasn't been pushed to the server yet.

[2018-10-19 08:58] remy-poirier commented on #384
Thanks you all guys, I am doing something to get it done on my own :)

[2018-10-20 05:37] SilasOtoko commented on #289
Any suggestions for those running a site with HTTPS that doesn't allow for HTTP calls? I tried using the  salestock.net domain for the call and it worked great on my local environment, but my live site is using HTTPS and is blocking the request. There doesn't seem to be a working HTTPS version of pokeapi.salestock.net.

I started using the alternate domain when using the regular pokeapi.co was bei

[2018-10-20 05:52] cmmartti commented on #289
@SilasOtoko Try adding a trailing slash. For some reason, I was getting a CORS error without one. Currently, PokéAPI is hosted on a Digital Ocean server, but we will shortly move to completely static hosting on Firebase, which should fix this.

If adding a trailing slash doesn't work, try using https://pokeapi-215911.firebaseapp.com/api/v2/ instead. That's the temporary Firebase app URL for PokéAP

[2018-10-20 06:02] SilasOtoko commented on #289
The Firebase URL worked perfectly, and it seems much faster too! Thanks! :)

[2018-10-20 06:04] cmmartti commented on #289
Good to hear. Just be sure to switch back to pokeapi.co once the move to Firebase Hosting is complete.

[2018-10-20 06:05] SilasOtoko commented on #289
Good to know. Thanks :)

[2018-10-27 01:31] #301 closed

[2018-10-27 04:37] SilasOtoko opened #387 "What units are being used for the height and weight values?"
I noticed that I was pulling in values for the pokemon without units and was about to add them, but I can't figure out which units the values are measured in. For example, Bulbasaur's height value pulls in as 7, but his height is neither 7 inches, 7 feet, 7 meters, or 7 yards. The official Pokemon website says that Bulbasaur's height is 2 feet 4 inches, so I feel like either I'm missing something

[2018-10-27 05:54] cmmartti commented on #387
It's decimetres. It's the values the games used, supposedly so they could store it as an integer. Just divide by 10 for centimetres. Someone else had this question a few weeks ago in #380, so the documentation was updated to show the values in Pokeapi/pokeapi.co#19.

[2018-10-27 05:54] #387 closed

[2018-10-28 04:12] SilasOtoko commented on #387
Thanks! I didn't realize that I had my GitHub search filtering out closed issues when I looked to see if anyone else had asked.

[2018-10-28 04:56] cmmartti commented on #387
Actually, it looks like the fix in PokeAPI/pokeapi.co#19 was accidentally over-written in a later commit, so the docs site didn't have the units. I have since re-applied those commits in PokeAPI/pokeapi.co#27 and updated the server.

[2018-10-29 22:29] Naramsim commented on #372
No, sorry

[2018-10-30 22:40] cmmartti commented on #372
@slothenly This will be fixed by tomorrow if things work out. We've finally figured out an automatic deploy process for static hosting on Firebase and just need to set up HTTPS and switch the DNS settings.

[2018-10-30 22:42] sargunv commented on #372
Don't forget cloudflare caching and rate limiting, we don't want the cost
of Firebase to explode from requests that would've been limited.

On Tue, Oct 30, 2018 at 15:40 Charles Marttinen <notifications@github.com>
wrote:

[2018-10-31 21:03] cmmartti commented on #364
I don't know how I missed this before, but it looks like Cloudflare charges $0.05 per 10K requests for rate limiting after the first 10K (only unblocked requests are counted). Paul said PokeAPI gets 30K-50K requests per day. Assuming 50K requests per day, that would be roughly $7–$8 per month for rate limiting.

I did some testing on my own domain, and rate limiting seems to work okay. However, I

[2018-10-31 22:58] sargunv commented on #364
We should enable caching for cloud functions to take advantage of Google's CDN for those requests.

[2018-10-31 23:37] cmmartti commented on #364
Good point. We can do that by setting the `Cache-Control` response header in the cloud function, as described [here](https://firebase.google.com/docs/hosting/functions#manage_cache_behavior).

[2018-11-01 01:33] cmmartti opened #389 "Domain pokeapi.co may have expired"
@phalt @tdmalone @Naramsim

It looks like the pokeapi.co domain may have expired. Some browsers bring up the Namecheap ad page.

[2018-11-01 01:40] cmmartti commented on #389
The page displays this message:

I don't know what that's supposed to mean...

[2018-11-01 08:37] lukejpreston commented on #389
You can get it here... http://pokeapi.salestock.net

[2018-11-01 08:57] Dyleee commented on #389
The JSON endpoints there are not properly formatted

[2018-11-01 10:45] phalt commented on #389
Resolved!

[2018-11-01 10:45] #389 closed

[2018-11-01 19:56] s-Hale commented on #381
Any updates or workarounds for this?

I'm using `fetch("https://pokeapi.co/api/v2/pokemon?limit=151/")` in one place and `fetch("https://pokeapi.co/api/v2/pokemon?limit=100&offset=151/")` in three others. Both now fail due to being redirected to a `http`. Are there any alternatives at this time?

[2018-11-01 20:17] magical commented on #381
@s-Hale the correct URLs would be `https://pokeapi.co/api/v2/pokemon/?limit=151` and `https://pokeapi.co/api/v2/pokemon/?limit=100&offset=151` (the trailing slash goes before the `?`)

[2018-11-05 03:51] slothenly commented on #372
Update? Hoping to use this API to build out a project by the end of the week, wondering if I should swap to a different resource.

[2018-11-06 05:06] tdmalone commented on #364
We'll need to use Cloudflare for DNS either way, and we can turn on/off Cloudflare's CDN et al functionality at will (by just flicking the orange cloud in the console 😄).

![image](https://user-images.githubusercontent.com/900469/48043993-a1994a80-e1dd-11e8-8055-fdddc64dd2ec.png)

So I think possibly to avoid this being any sort of a blocker: let's say we'll leave it switched on for now? But we ca

[2018-11-09 05:09] arthursb opened #390 "Ultra Sun & Ultra Moon Pokémon Missing"
Database is missing every Pokémon numbered between 803 (Poipole) and 807 (Zeraora)

[2018-11-14 20:03] schwigri opened #391 "No Pokédexes for Sun and Moon"
If you visit the version group for Sun and Moon (https://pokeapi.co/api/v2/version-group/17/) there are no Pokédexes; if you visit the Pokédexes page (https://pokeapi.co/api/v2/pokedex/) it only has them up to Omega Ruby and Alpha Sapphire.

[2018-11-16 18:52] GeraldAburto commented on #289
Hi
I'm creating an angularjs client application that consumes this api
just for didactics purposes.

I getting the same error.

this is what i'm doing:
var getPokemons = function(){
   return $http({
     method: 'GET',
     url: 'https://pokeapi.co/api/v2/pokemon/'
   });
}

[2018-11-16 19:12] Naramsim commented on #289
Do you get these headers in the response? If you try from your browser? Or maybe using `curl` or `wget`

[code]

[2018-11-18 01:37] GeraldAburto commented on #289
I get these headers only when i make the request from postman
i can't make it works in angularjs

[2018-11-18 01:39] cmmartti commented on #289
@GeraldAburto I've never used Angular and don't know how the `$http` function works. Is there any way to set the mode to `cors` like in the `fetch` API?

[2018-11-18 17:54] Naramsim commented on #289
You could also consider to use our browser wrapper. https://github.com/PokeAPI/pokeapi-js-wrapper

[2018-11-21 23:19] lucasdeholanda opened #392 "Power-Up Punch Reporting as HM06 in ORAS"
https://pokeapi.co/api/v2/move/612/
https://pokeapi.co/api/v2/machine/1209/

[2018-11-22 07:32] Naramsim commented on #392
Hello, could you please verify if the error happens also here? https://github.com/veekun/pokedex

This is our source for our API.

[2018-11-22 11:43] lucasdeholanda commented on #392
https://github.com/veekun/pokedex/blob/master/pokedex/data/csv/machines.csv
As far as I can see it's correct. Both entries for the move 612 are associated with TM98.

By coincidence, I just found out that Wild Charge (TM93) is associated with HM01 as well.
The last update on the file shows "Fix TMs 93-100 refer to the wrong item in OR/AS", so that's probably it.

[2018-11-22 12:19] Naramsim commented on #392
Hi, we also got that piece of data: https://github.com/PokeAPI/pokeapi/blob/master/data/v2/csv/machines.csv#L1307

It means that we are currently serving old content, we should reload our data on our servers. ATM we are currently in a strange situation since we serve static files scraped from our own API. @sargunv, would you give another try to scrape new data from the API using the latest version

[2018-11-27 12:30] nest-aka-swan opened #393 "docker build failed with "Unsupported Python version""
docker build fails on pip install step ([full log](https://pastebin.com/naub2Zr6)):
[code]

I've tried to replace `python-dev`, `python-pip` pacakges with `python3-dev`, `python3-pip` and replaced `pip`, `python` with `pip3`, `python3` calls, but it crashed on migrations step [full log](https://pastebin.com/CfpA5zYb).

Looks like it is related to #385

I am running `docker build -t pokeapi .` on W

[2018-11-27 18:37] chrislennon commented on #393
@nest-aka-swan I bumped into the same issue recently but haven't got around to fully testing things enough to make a PR yet.

Just dropped my monkey patch into a [gist](https://gist.github.com/chrislennon/8fd1d54601838a1066e72e7919c933f5) that may get the image building for you.

Like you, after changing the python version I got errors at subsequent steps.

- I _think_ the 'CacheKey' error in migr

[2018-11-28 06:48] nest-aka-swan commented on #393
@chrislennon Thanks for the gist! Unfortunately, patched docker container exits immediately with `docker run -d -p 8000:8000 pokeapi`.

Problem with django-redis was fixed in 4.9.1.

 I am going to dig into the problem today and start a PR if you don't mind :)

[2018-11-28 08:10] chrislennon commented on #393
@nest-aka-swan thats unfortunate that it didn't work straight away, it seems to build for me with those 3 files changed - but again there was a lot of hacking to get a build, not 100% sure what I changed beyond those files though.

Good luck with the digging, I will try to get to it this weekend if you haven't cracked the case by then 😄

[2018-11-29 12:39] brenopanzolini commented on #372
Any updates? I know the effort of all you guys, just asking because I would like to know if you have any prediction of when this problem will be solved :).

Thanks!

[2018-11-30 06:02] shihlinlu opened #394 "Unable to get results due to "TypeError: Failed to execute on 'fetch' on 'Window'""
Discovered this awesome API today. I cannot make any calls as the following error message occurs:

API call: `https://pokeapi.co/api/v2/berry-flavor/1/
API request source: Directly within pokeapi.co

Error message: "An error occurred: "TypeError: Failed to execute 'fetch' on 'Window': The provided value 'force-cached' is not a valid enum value of type RequestCache."

I have attempted other endpoin

[2018-11-30 18:38] cmmartti commented on #391
We get our data from [veekun](https://github.com/veekun/pokedex), and they don't have the data either. It looks like there is an open issue there for this at veekun/pokedex#217.

It's a bit of a dilemma, because the data can only be updated by manually pulling it from the game ROMs, and only a few people know how to do that. I have no idea what the process entails, nor am I prepared to jump into t

[2018-11-30 18:38] #391 closed

[2018-11-30 23:18] alexd99 opened #396 "Berry Endpoint"
I feel like it is missing some information on the berry endpoint. When I check bulbapedia for the berry information there seems to be a lot more information if you check out the resource for the oran berry (https://bulbapedia.bulbagarden.net/wiki/Oran_Berry) there is specific information about generation 3 and 4, as well as some more information about ice scream scoops, there are sprites for the t

[2018-12-03 07:33] Naramsim commented on #396
The very first thing you should do is to check if your data is contained inside our provider: https://github.com/veekun/pokedex.

[2018-12-05 00:19] alexd99 commented on #396
I looked through that link, and I found this file (https://github.com/veekun/pokedex/blob/master/pokedex/data/csv/berries.csv), which looks like the current berry endpoint, I could not find any other useful berry files.

I am assuming that this means that the information that I would like added currently does not exist, does that sound correct?

[2018-12-05 07:34] Naramsim commented on #396
Yeah, exactly! So if you want more feature you should ask to the guys of Veekun.

I will close this issue, thanks.

[2018-12-05 07:34] #396 closed

[2018-12-06 00:15] alexd99 commented on #396
Thank you for answering that question. I did not know that you guys pulled your data for someone else.

[2018-12-10 10:47] heydemoura opened #398 "Migrations fail when running on docker"
Following the setp-by-step guide on running with docker/docker-compose I could setup the containers, when I tried to run the migrations the following error happened.

`/usr/local/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For

[2018-12-10 10:48] heydemoura commented on #398
For now I'll be using the official PokeAPI servers, but I really want to avoid using it when my project goes to production

[2018-12-10 13:38] Naramsim commented on #398
Yes, all the docker infrastructure is currently broken. We moved from py2 to py3, but we didn't update the images.

If you want to try to fix and update them, it would be much appreciated.

[2018-12-20 13:21] ChristianIvicevic opened #399 "Documentation for FlavorText is missing Version object in response"
This is a quick error in the documentation wherein it says `FlavorText` only returns `flavour_text` and `language`, but it returns `version` as well as `NamedAPIResource` to `Version`. Just got confused while rewiring your schema for use in GraphQL until I noticed the documentation isn't up to date.

[2018-12-20 18:38] cmmartti commented on #399
I assume you're calling the REST API in your resolvers? My Python implementation is built on the original codebase alongside the REST API, so it can directly access the database and do stuff like [DataLoader](https://github.com/syrusakbary/aiodataloader) batch-fetching and complex filtering. These features complicate the codebase somewhat, so I plan to write a short document explaining how the cod

[2018-12-21 18:49] ChristianIvicevic commented on #399
@cmmartti Sorry for going offtopic for the time being, but I finally came up with a consistent schema and implementation of type safe resolvers. Currently I am using a small subset of the actual PokeAPI, but I will consider publishing the revised and fully implemented server after finishing my pet project in the weeks to come.

[2018-12-24 06:49] gellel opened #400 "Pokemon location CORS"
Was exploring the API (which is awesome BTW! 🥇 👍) and tried reaching the Pokemon.location_area_encounters endpoint. Out of the box there appears to be a difference in headers leading to a CORS issue client side. Just checking whether this route is deliberately configured this way or if it's a potential issue due to the API implementation as per this line:

https://github.com/PokeAPI/pokeapi/blob/m

[2018-12-24 21:36] Finrod-Amandil opened #401 "Unclarity in API results / documentation regarding forms/varieties of a Pokémon species"
Hi dear team of the PokéAPI!
First of all, of course, thanks a thousand times for this invaluable resource!

I am currently studying the entity model the PokéApi uses as I plan on building a relational database which in parts shall be filled with data of your API. However, I have come to a question which I just don't manage to fully answer with the otherwise excellent documentation: What is the di

[2018-12-26 21:12] ChristianIvicevic commented on #393
@chrislennon I got it working after tweaking your shell script as follows:

    #!/bin/sh
    # wait-for-postgres.sh

    set -e

    host="$1"
    shift
    cmd="$@"

    service postgresql start
    service redis-server start

    until PGPASSWORD=pokemon psql -h "$host" -U "ash" -d "pokeapi" -c '\q'; do

    sleep 1
    done

    exec $cmd

Unfortunately the server is returning escaped HTML rat

[2018-12-26 23:49] nicksarafa commented on #76
Stumbled upon this open issue. Anybody find a reliable API for the Pokemon Trading Card game?

[2018-12-27 01:10] tdmalone commented on #76
@nicksarafa This issue was probably closed back when PokeAPI almost shut down - a lot of issues got closed around the time.

I don't know of anyone around currently who would be up for working on this but if you are, happy to reopen!

[2018-12-27 12:10] Gamer2020 commented on #76
https://pokemontcg.io

Get Outlook for Android

________________________________
From: Nick Sarafa <notifications@github.com>
Sent: Wednesday, December 26, 2018 6:49:39 PM
To: PokeAPI/pokeapi
Cc: Subscribed
Subject: Re: [PokeAPI/pokeapi] Let's do the card game too! (#76)

Stumbled upon this open issue. Anybody find a reliable API for the Pokemon Trading Card game?

—
You are receiving this because

[2018-12-29 23:40] shilangyu opened #404 "Weird pokemon_species order in /v2/generation/{id}"
## What happens:
When i call `https://pokeapi.co/api/v2/generation/1/` and access `pokemon_species` property they are returned in a weird order (two blocks of descending pokedex numbers)

## What i am expecting:
Getting a result where `pokemon_species` are sorted ascendingly by their pokedex number

[2018-12-29 23:49] cmmartti commented on #404
I'm seeing the issue you describe. However, the order of the results is unspecified, so the current behaviour is correct and probably won't be changed. I recommend sorting the results list on the client if a specific ordering is desired.

[2018-12-29 23:49] #404 closed

[2018-12-30 11:51] Finrod-Amandil commented on #401
Thanks a lot for the answer! So, if I understand you correctly, the idea is the following:

- Varieties differ in aspects other than appearance, i.e. stats, abilities, typing
- Forms differ only in appearance. Or at least you say "there is no significant transformation of the Pokémon", which is a little vague to fully grasp the idea. Also if that is what you're saying it contradicts the documentat

[2018-12-30 15:56] shilangyu commented on #390
Meltan and Melmetal (808 & 809) also missing

[2018-12-30 19:02] shilangyu commented on #390
absolutely, they are currently moving to static file hosting so probably thats why they didnt add new pokemons yet

[2018-12-31 05:13] Dyleee commented on #390
Oh I see, so far I love the API.

[2019-01-17 20:40] wcshamblin opened #407 "API results only showing the first 19 items of a list"
When I visit https://pokeapi.co/api/v2/pokemon/, it only shows the first 19 pokemon of the pokedex.
The same applies for berries: https://pokeapi.co/api/v2/berry, moves: https://pokeapi.co/api/v2/move, and items: https://pokeapi.co/api/v2/item.

I don't really understand why this is happening, but this morning it was showing all items, pokemon, and berries on the same page. It must've changed a co

[2019-01-17 20:47] cmmartti commented on #407
Very much intentional. The behaviour before was incorrect, and was a side-effect of stop-gap measures that were put in place this fall after an outage, and was only fixed today when we finally finished the move to new static hosting.

The default page size is 20, [as explained in the documentation](https://pokeapi.co/docs/v2.html#resource-lists). If you want a larger page, add a larger `limit` que

[2019-01-17 20:47] #407 closed

[2019-01-17 20:50] cmmartti commented on #407
Although I've noticed that the `offset` parameter is non-functional, even though `limit` works... that will have to be fixed.

[2019-01-17 20:50] wcshamblin commented on #407
Thanks! Maybe it's bad practice to use it in that way but it speeds up my code a ton.

[2019-01-17 20:55] wcshamblin commented on #407
Oh, is there any way to set a max limit? I can't find anything on that in the docs. Setting limit to 9999 feels wrong.

[2019-01-17 20:55] cmmartti commented on #407
Stick to a nice round 1000, which is more likely to be cached.

[2019-01-17 20:57] wcshamblin commented on #407
Good enough, thanks

[2019-01-18 14:20] MonAaraj commented on #390
As far as i know, i think they moving finished, though the pokemon are still not added, what happened that makes them so behind with Pokemon?

[2019-01-20 06:59] krisScript opened #408 "API doesn't return anything."
### Instead of returning 404 response nothing is being returned.
#### When hitting points such as:
##### [https://pokeapi.co/api/v2/pokemon/mega-punch](https://pokeapi.co/api/v2/pokemon/pikach);
##### [https://pokeapi.co/api/v2/berry/master-ball](https://pokeapi.co/api/v2/berry/master-ball);
##### [https://pokeapi.co/api/v2/berry/pikachu](https://pokeapi.co/api/v2/berry/pikachu);
##### [https://po

[2019-01-20 16:38] Kronopt commented on #408
Also

If you're talking about the 'Not Found' page, that's actually a 404 page

[2019-01-21 14:09] krisScript commented on #408
I

[2019-01-21 14:09] #408 closed

[2019-01-22 08:03] Naramsim commented on #400
Use HTTPS

[2019-01-22 08:03] #400 closed

[2019-01-22 08:03] Naramsim commented on #376
We can close

[2019-01-22 08:03] #376 closed

[2019-01-22 08:04] Naramsim commented on #393
Please, use our docker-compose

[2019-01-22 08:04] #393 closed

[2019-01-22 08:04] Naramsim commented on #398
Can you try with the docker-compose now?

[2019-01-22 08:05] Naramsim commented on #372
Limit works now: https://pokeapi.co/api/v2/pokemon?offset=0&limit=3

[2019-01-22 08:05] #372 closed

[2019-01-22 08:05] Naramsim commented on #289
Always use HTTPS to avoid CORS issues.

[2019-01-22 08:05] #289 closed

[2019-01-22 08:06] Naramsim commented on #364
Yes, we should use it to cache most of the requests.

[2019-01-22 08:06] #364 closed

[2019-01-22 08:08] Naramsim commented on #358
Our current strategy is:
- use docker compose and spin up PokeAPI
- use ditto to scrape all the data
- move the data to api-data
- circleci uploads to firebase all our data

[2019-01-22 08:08] #358 closed

[2019-01-22 08:08] Naramsim commented on #342
PLease use our docker compose guide

[2019-01-22 08:08] #381 closed

[2019-01-22 08:09] Naramsim commented on #312
Docs now always use HTTPS

[2019-01-22 08:09] #312 closed

[2019-01-22 19:06] cmmartti commented on #334
Veekun stores heights in decimetres, not inches. All of our data comes from Veekun, so if there's an issue with incorrect data, submit an issue on their GitHub repo.

In any case, Bulbapedia, Veekun, and PokéAPI all show the same value of 1.6 m for the example given (Blastoise), so I don't see what the issue is.

[2019-01-22 19:06] #334 closed

[2019-01-22 19:24] #399 closed

[2019-01-24 07:36] egsy commented on #398
fwiw, I was able to run with docker-compose just now! Thanks for updating the images.

[2019-01-24 16:10] iAmGio opened #410 "New Java wrapper"
Hi! I'm opening this issue to have my new Java wrapper linked into the documentation page, as Naramsim told me via e-mail.
Repo: https://github.com/iAmGio/pokedex-java-api
It supports Pokémon only at the moment, other components such as Berries will be supported as soon as possible.

Thanks!

[2019-01-25 03:54] cmmartti commented on #410
Hi, this looks great. If you can add it to the page yourself (just click the edit button at https://github.com/PokeAPI/pokeapi.co/blob/master/src/pages/docs/v2.html.js) and create a pull request, I'll be able to merge it in.

[2019-01-25 09:54] HajarElkoumikhi opened #411 "Pokeapi endpoint is not complete"
Hello,

I'm using Alamofire to fetch data from Pokeapi.
The issue that I'm encountering is when I lunch a webCallService, I get only 20 Pokemon's data.

This is the link that I'm using : https://pokeapi.co/api/v2/pokemon/
is this normal ? or is there any other endpoint link that can provide me with the +900 Pokemon's data ?

Thank you!

[2019-01-25 10:16] Naramsim commented on #411
Yes of course, you should have read our docs.

https://pokeapi.co/api/v2/pokemon/?offset=0&limit=99999999

[2019-01-25 10:31] HajarElkoumikhi commented on #411
Thank you so much @Naramsim

[2019-01-25 10:31] #411 closed

[2019-01-28 14:46] Naramsim commented on #390
I can try today.

[2019-01-30 02:43] #398 closed

[2019-01-31 19:58] Naramsim commented on #390
https://pokeapi.co/api/v2/pokemon/?offset=800&limit=30

[2019-01-31 20:09] cmmartti commented on #390
PokéAPI has been updated with new data, bringing it fully up-to-date.

[2019-01-31 20:09] #390 closed

[2019-01-31 20:15] Naramsim commented on #390
(we still lack of 808 and 809)

https://bulbapedia.bulbagarden.net/wiki/Meltan_(Pok%C3%A9mon)

[2019-01-31 20:35] cmmartti commented on #401
@Finrod-Amandil The docs have been updated with your suggested changes.

[2019-01-31 20:39] cmmartti commented on #392
PokéAPI has been updated with new data from Veekun. @lucasdeholanda Can you confirm that the error has been fixed?

[2019-01-31 23:41] MBoberski opened #413 "400 Code Error"
Hi,

I used docker-composer to run poekapi, I changed gunicorn from 8000 to 7001 in docker files as well as nginx vhost anc gunicorn ini file. Also I modify ports as:

[code]

When I do docker-compose up --build and try to open webpage I get: Bad Request (400).

My apache vhost is like:

[code]

[2019-01-31 23:51] cmmartti commented on #413
It doesn't say this anywhere, but you need to add your host to the `ALLOWED_HOSTS` list in `config/settings.py`. Then run
[code]
to rebuild the container and restart as a daemon.

[2019-02-01 00:06] TorchwoodPL commented on #413
`ALLOWED_HOSTS = ['.pokeapi.expij.h-y.eu', 'localhost', '127.0.0.1']`

This is what I have, and I get "Not Found" on url http://pokeapi.expij.h-y.eu/ and "Bad Request (400)" on http://expij.h-y.eu:85/ (url without proxy pass)

[2019-02-01 00:14] cmmartti commented on #413
Try putting just `.expij.h-y.eu` (or `.h-y.eu`) in the `ALLOWED_HOSTS`, without the subdomain. That's what I had to do on my server and it worked.

[2019-02-01 07:53] TorchwoodPL commented on #413
I have other services on the same VPS and for me port 8000 is allocated already, same as 80 and 443. And I need everythink to be at easy to use domainnames, without port numbers.

[2019-02-01 08:45] Naramsim commented on #413
Ahh, so you use Apache as a reverse proxy!

Ok, still you can have your compose mapping to different ports:

[code]

Then you say to your apache httpd to forward some calls to localhost:10080 and to localhost:10443.

But I want to say that this is not an issue related to PokeAPI, it is just a reverse-proxy question.

[2019-02-03 15:00] shilangyu opened #414 "Meltan and Melmetal Pokémon Missing"
Database is missing Meltan (808) and Melmetal (809) originally discovered in Pokemon GO, usable in Pokemon Lets Go.

[2019-02-03 15:01] shilangyu commented on #390
Opened a new issue for meltan and melmetal as they are not Sun/Moon pokemons: #414

[2019-02-23 22:57] domenicoblanco commented on #71
Sorry for writing here, but I thought that it would be better instead of creating a duplicate.
This problem is still present in v2

[2019-02-24 18:22] Naramsim commented on #71
yeah, we don't have those spites, I guess

[2019-02-24 22:33] domenicoblanco commented on #71
Nope, they're available by another link obtainable inside ["forms"][0]["url"]. For example, for Alolan Marowak, the url is https://pokeapi.co/api/v2/pokemon-form/10217
and the sprites are in ["sprites"]

[2019-03-01 10:53] jachymb opened #418 "null region for location/253"
when I ask for location/253 it, says the region is 'null', but I think it should be 'johto'

[2019-03-01 17:24] jachymb opened #419 "missing pokemon encounters from headbutt trees"
For example when I request 'location-area/ilex-forest-area' obviously pineco should be there somewhere available from headbutt trees but isn't.

[2019-03-01 21:44] magical commented on #419
Related:  https://github.com/veekun/pokedex/issues/32

[2019-03-05 16:16] poastertoaster opened #420 "Wurmple Evolution Chain only lists Silcoon as an evolution"
- Provide a clear description of the issue.

Wurmple is only listed as evolving into Silcoon, while Veekun lists Wurmple as evolving into both Silcoon and Cascoon. Cascoon is listed as a possible evolution of Silcoon erroneously. Dustox is not listed as a possible evolutionary step of Wurmple.

- Provide a clear description of the steps to reproduce.

https://pokeapi.co/api/v2/evolution-chain/135/

[2019-03-06 04:49] tdmalone commented on #420
Hi @poastertoaster, thanks for this report. This is a longstanding issue that we haven't been able to properly solve yet.

I'll close this in favour of the existing issue at https://github.com/PokeAPI/pokeapi/issues/163 - if you able to assist with solving this please feel free!

[2019-03-06 04:49] #420 closed

[2019-03-20 07:15] tartreau opened #421 "get french language pokemon list and data"
Hello. I can't find in the docs the right way to call the api and get data in french

Is there something like this ?
https://pokeapi.co/api/v2/region/1/language/5 ?

[2019-03-21 12:11] tartreau commented on #421
So what should I do if I wanted to display a list of Pokemon in the french language ?

[2019-03-21 12:27] cmmartti commented on #421
Also, some Pokémon names are on the default Pokémon form (such as Mega forms), so you'll have to check there for a name first, then fall back to the species name if there isn't a form name. Alternatively, just use the species to begin with, as I suggested yesterday. Don't ask me why it's like this; I didn't design it.

For the difference between a Pokémon, a Pokémon species, and a Pokémon form, re

[2019-04-13 12:30] rowatc commented on #401
We've just discovered pokeapi via the MEE6 Discord bot.

We're trying to understand why "!pokemon Giratina" doesn't return - which seems related to this issue.

If that's correct, is there any way we can help the indexing?

[2019-04-14 05:44] SirSkaro commented on #401
I don't think it's quiet related to this issue, but it is similar and something that isn't well explained.

Pokemon that have multiple varieties often have a commonly perceived "default" variety. Giratina, Keldeo, and Meloetta are good examples of this. When I say those Pokemons' names, you think of a particular variety of them, and you can do things in the games to transform them into their other

[2019-04-19 23:52] Adrian-26-Isotope opened #423 "Duplicated pokemon-species in evolution-trigger #1"
Dear PokeAPI team,

**https://pokeapi.co/api/v2/evolution-trigger/1/** contains Magnezone 4 times. At index 192, 262, 294 and 298.
Some others like leafeon and glaceon do also exist more than once.
Is it possible to reduce the linked species that every species appears only once?

[2019-04-20 23:07] cmmartti commented on #423
Yep, that's clearly an error. If anyone wants to fix it, the faulty code is [here](https://github.com/PokeAPI/pokeapi/blob/85103d24aeec480c6f01728a7ed309d0dae269f5/pokemon_v2/serializers.py#L2663). The species list just needs to be de-duplicated before looping over it.

[2019-04-21 01:37] Kronopt commented on #423
@Adrian-26-Isotope, I can do it if you don't want to do it yourself.

[2019-04-21 18:03] Adrian-26-Isotope commented on #423
@Kronopt please go ahead.

[2019-04-26 14:51] 2sodiumsandwich opened #425 "Missing Aegislash"
Aegislash is not in the pokemon database

[2019-04-26 15:10] Kronopt commented on #425
He actually is.
But because he has different forms, you can't find him by searching for his name.

If you query the API like this:
https://pokeapi.co/api/v2/pokemon/aegislash
an error will be returned.

But if you query by id, like this:
https://pokeapi.co/api/v2/pokemon/681
it will work.

To get a specific form by name, you can do it like so:
https://pokeapi.co/api/v2/pokemon/aegislash-shield
htt

[2019-04-27 21:19] 2sodiumsandwich commented on #425
Ok thank you

- Kevin

________________________________
From: Kronopt <notifications@github.com>
Sent: Friday, April 26, 2019 8:10:37 AM
To: PokeAPI/pokeapi
Cc: Kev; Author
Subject: Re: [PokeAPI/pokeapi] Missing Aegislash (#425)

He actually is.
But because he has different forms, you can't find him by searching for his name.

If you query the API like this:
https://pokeapi.co/api/v2/pokemon/aegis

[2019-04-27 23:30] Kronopt commented on #425
This can be closed.

[2019-04-28 12:53] #425 closed

[2019-05-01 00:59] cmmartti opened #426 "Add documentation on z-moves"
We've gotten a few questions on Slack from users who can't find Z-moves in the API. We should add something about them to the docs.

https://pokeapi.slack.com/archives/C11SVFFL4/p1552869251058000

[2019-05-01 01:04] #423 closed

[2019-05-13 23:34] stl1988 commented on #414
They are still missing - and Pokémon Let's Go is out for a half year now.

[2019-05-13 23:42] cmmartti commented on #414
As mentioned in the [issue template](https://github.com/PokeAPI/pokeapi/blob/master/ISSUE_TEMPLATE), please forward this complaint to [Veekun](https://github.com/veekun/pokedex/issues). We don't keep track of this data ourselves. We just use their data.

Note that Go and Let's Go are not part of the main game series, and Veekun generally doesn't deal with the spin-offs. But this specific case migh

[2019-05-13 23:48] stl1988 commented on #414
Pokémon Let's Go Pikachu and Let's Go Eevee ARE part of the main series. That's been confirmed multiple times now.

This japanese page from the official japanese Pokémon website confirms it aswell.

[2019-05-14 00:05] cmmartti commented on #414
Sure, but as I understand it, Let's Go is a significant departure from the regular games, and probably won't fit neatly into Veekun's database. (I haven't played it.)

[2019-05-14 00:10] stl1988 commented on #414
The capture mechanics and Pokémon appearing on the overworld may be different and also the games only include Kanto Pokémon and Meltan/Melmetal, but since they are a remake of Pokémon Yellow, it's of course part of the main series. You even have normal trainer battles, gyms, evil team (Team Rocket) and the Elite Four plus champ. Everything which makes a mainline Pokémon game is in these games.

Of

[2019-05-15 07:14] tdmalone commented on #414
I'm going to close this, as once (if) the data is added to Veekun it will be available here in PokeAPI too :)

[2019-05-15 07:14] #414 closed

[2019-05-28 22:44] heldridge opened #430 "Phione has an incorrect evolution chain"
The evolution chain linked in Phione's pokemon-species is for Manaphy, not Phione: [https://pokeapi.co/api/v2/pokemon-species/489](https://pokeapi.co/api/v2/pokemon-species/489
)

[2019-05-28 22:54] heldridge commented on #430
The source of this issue is veekun, closing

[2019-05-28 22:54] #430 closed

[2019-05-30 14:38] b3u opened #431 "Strip whitespace from sprites"
I noticed that the sprites have a great deal of unnecessary white-space. It is difficult to use the images provided as is, because the size of the images being greater than the actual picture, it is difficult to position in properly. I'm sure there is some build tool which could strip all of the white-space in one go.
Thank you!
(Note: The only images I checked were Bulbasaur and Pikachu.)

[2019-05-30 14:41] cmmartti commented on #431
The images are all the exact same size, except for generation 7, which are slightly bigger. It doesn't make sense to start cropping them, especially since so many people are already using them as they are now.

[2019-05-30 14:45] b3u commented on #431
Wow, that was quick! Thank you.

[2019-05-30 14:45] #431 closed

[2019-05-30 14:57] cmmartti commented on #431
You can find sprites elsewhere on the Internet. Check out Veekun on GitHub; I think they might have the raw assets.

https://github.com/veekun/

[2019-05-31 04:33] sargunv commented on #431
You could also include some cropping login in your client application.

[2019-06-06 15:46] blaiddyd opened #432 "Retrieve Info on Important Trainers"
Hello!

I was wondering whether the API supports searches for important trainers (aka Champions, Elite Four, Gym Leaders, etc.) such as their Pokemon, the games they appear in, and so on. If not, would this an appropriate feature to add to the API?

Thanks!

[2019-06-06 16:26] Kronopt commented on #432
It does not.

Whether it would be an appropriate feature, it's debatable.
Also we would have to get that information elsewhere as our data source (veekun) has no such data... And that's most likely a deal breaker

[2019-06-07 11:48] arcanis opened #433 "Publish as a JS package"
As a tool author, I'd like to rely on your data without directly querying your endpoint (it might be because I don't want to rely on third-party websites, or because I don't want to eat your bandwidth, or because I want to have a finer control on the API layout).

What would you think of publishing a npm package containing the csv bundled as an sqlite database after each update to the `csv` direct

[2019-06-07 12:49] Naramsim commented on #433
Hm, will the package be portable? Would you install SQLite3 as a dependency?

[2019-06-07 13:04] phalt commented on #433
Is the Veekun CSVs good enough for this already?

[2019-06-07 13:04] phalt commented on #433
This data: https://github.com/veekun/pokedex

[2019-06-07 21:11] arcanis commented on #433
Yes, SQLite3 would be a dependency in this scenario, but it's a very standard tool supported by pretty much everything. It has even been compiled down to WebAssembly to be used within browser. That would imo be a safe candidate for the most portable database format around here - even csv requires different parsers for each language.

Yep (they're the same ones as the ones in data/v2/csv, right?).

[2019-06-07 22:17] cmmartti commented on #433
@arcanis Something like [this](https://github.com/cmmartti/pokemon-database)?

I just split it out of another project I'm working on at the moment. It's an exact copy of Veekun's database schema that can build a database and load in all the CSV data.

There's a copy of the SQLite database in the repository that can be used directly, or you can plug in your database config details and build your ow

[2019-06-13 16:11] MonAaraj opened #434 "pokeapi needs access to https"
so, while using pokeapi to try to fetch female front pikachu, I saw that it used http, which is not secure, and trying to use https made a 404 error, (the link i was using came from the documentation), which is this: https://pokeapi.co/media/sprites/pokemon/female/25.png

Thanks in advance

[2019-06-13 16:16] cmmartti commented on #434
Image sprites are not served from our servers. The correct link for the Pikachu front female sprite is https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/female/25.png

Examples used in the documentation are just examples and are not meant to be used directly.

[2019-06-13 16:16] #434 closed

[2019-06-18 07:06] arcanis commented on #433
@cmmartti I don't have much experience with Knex, but something like this is what I have in mind, yes - although one important difference is that I'd prefer it to be provided by the PokeAPI org, as I would have a higher confidence that it would always be maintained up-to-date.

[2019-06-18 18:42] avelinocneto opened #435 "Translations to PT_BR"
Can I help you to translate the resources to PT-BR? How To?

[2019-06-20 08:56] Naramsim commented on #435
You should open a PR on Veekun https://github.com/veekun/pokedex

[2019-06-20 08:56] Naramsim commented on #435
You should open a PR on Veekun https://github.com/veekun/pokedex

[2019-06-22 22:10] mtslzr opened #436 "Go Wrapper"
Wrote a wrapper for PokeAPI v2 in Go: [pokeapi-go](https://github.com/mtslzr/pokeapi-go). Per #410, sounds like it starts with opening an issue. Let me know what I can do to help get it on the website. Thanks!

[2019-06-22 22:20] mtslzr commented on #436
Created an MR, as I'd seen with others, at https://github.com/PokeAPI/pokeapi.co/pull/62. Let me know if I'm out of order, or if there's anything else I can do to help. Thanks!

[2019-06-22 22:47] tdmalone commented on #436
PR is all that’s needed :) I’ve approved your PR and will leave it for another maintainer to double-check and merge.

[2019-06-22 22:47] #436 closed

[2019-06-22 22:49] tdmalone commented on #410
Closing this issue; @iAmGio please feel free to send us a PR when you’re ready!

[2019-06-22 22:49] #410 closed

[2019-06-23 00:13] mtslzr commented on #418
What URL are you calling?

`region/253` is empty, because `region/` only contains seven regions (Johto is `region/2`, FWIW).

`location/253` is Day Care Couple. `location-area/253` is Dark Cave, Violet City Entrance.

[2019-06-26 07:24] matt3224 commented on #383
Will the GraphQL API allow for searching across resources?

[2019-07-14 23:43] jotatoledo commented on #299
After looking for an implementation I decided to try to provide one by myself. ATM this effort can be found at https://github.com/jotatoledo/PokeGraphQL

ATM the query type fields for list resources with pagination are missing, but its the next feature in my TODO :)

[2019-07-24 06:32] Helio-Discord opened #438 "Pokemon Missing"
Mimikyu

[2019-07-24 17:17] Naramsim commented on #438
Was it recently added?

[2019-07-24 20:57] Phoenix116 commented on #438
https://pokeapi.co/api/v2/pokemon/778/ it's there

[2019-07-24 21:06] Kronopt commented on #438
It's one of those that has the form attached to the name

[2019-07-24 21:17] Phoenix116 opened #439 "Where is the exp growth in every pokemon?"
I can't find anywhere the experience growth of any single pokemon :S

[2019-07-24 23:18] Kronopt commented on #439
Is this what you want?
[/api/v2/growth-rate/{id or name}/](https://pokeapi.co/docs/v2.html#growth-rates)

[2019-07-25 08:19] Phoenix116 commented on #439
Exactly! thank you a lot

[2019-07-25 08:19] #439 closed

[2019-07-25 22:24] #438 closed

[2019-08-03 18:08] prathanbomb opened #440 "New Flutter wrapper"
I've published a wrapper for Flutter
https://pub.dev/packages/pokeapi/versions/1.0.0

[2019-08-05 06:53] Naramsim commented on #440
Hi @prathanbomb, thanks for the contribution but I was wondering if you could you add some tests. Thanks

[2019-08-05 07:05] bausshf opened #441 "Egg Group Missing: Field"
As described here:

https://bulbapedia.bulbagarden.net/wiki/Egg_Group

https://bulbapedia.bulbagarden.net/wiki/Field_(Egg_Group)

The field group is missing (or does not seem to work.)

Its other group name would be **ground** but that does not seem to work either.

Ex.

I've tried both **egg-group/field** and **egg-group/ground**.

Neither of them yields a result.

[2019-08-05 07:42] magical commented on #441
Looks to me like ground works: https://pokeapi.co/api/v2/egg-group/ground/

[2019-08-05 08:07] Naramsim commented on #441
@bausshf, is the solution of @magical working for you? Or it's a problem with the data returned not being sufficient?

[2019-08-06 14:21] bausshf commented on #441
It works now with ground. I tried that yesterday as well but it just gave an error so assumed it was not implemented either :)

Thank you.

[2019-08-06 15:26] #441 closed

[2019-08-09 05:04] yashwanthkorla opened #442 "Wrong Variable mapping in JSON output for move endpoint"
Endpoint : https://pokeapi.co/api/v2/move/246/

"effect": "Inflicts regular damage. Has a **$effect_chance%** chance to raise all of the user's stats one stage.",
![image](https://user-images.githubusercontent.com/4706215/62755354-3e508780-ba91-11e9-9b1e-a50c5df23e2c.png)

[2019-08-09 10:39] prathanbomb commented on #440
Hi @Naramsim you can find the unit test in pokeapi -> test -> test-api.dart
Thanks

[2019-08-09 11:55] Naramsim commented on #440
Nice, so you can set up a CI on Travis or Circle to have them automated. Then open a PR here and add your wrapper

[2019-08-10 02:49] prathanbomb commented on #440
I'm gonna try GitHub CI that has just been announced.

[2019-08-10 11:56] AzazelHD opened #443 "Missing Pokemons"
You are missing the 2 latest pokemons.

808 = Meltan
809 = Melmetal

Please add them soon

[2019-08-10 13:02] Kronopt commented on #443
I can confirm they are both missing from veekun.

Also:

It might be best/faster to open an issue on [veekun](https://github.com/veekun/pokedex/) directly

[2019-08-11 07:02] #443 closed

[2019-09-01 18:20] victorwss opened #447 "Couldn't run build_all(): table main.pokemon_v2_region__old doesn't exist."
Hi, sorry if this is noobish or was already reported (didn't found a similar issue), but I tried to follow the procedure described in the markdown to have a running local PokeAPI, and it failed complained that the `main.pokemon_v2_region__old` table didn't exist. I'm using a fresh working copy downloaded from master branch just today.

Here is my full console log:

[code]

Note: ignore the part of

[2019-09-02 05:55] victorwss commented on #447
It seems that changing Django in `requirements.txt` to 2.1.7 and then deleting the db and rebuilding it fixes the issue.

[2019-09-02 06:59] Naramsim commented on #447
So by increasing Django version you managed to fix the issue? Can you try to reproduce it starting fresh?

[2019-09-08 22:10] LouWii commented on #447
I confirm this behaviour. I got the exact same problem while building the project on a Windows machine (via cygwin and Python 3.6.9). Changing Django version to 2.1.7 seems to fix the issue.

[2019-09-17 01:34] dillonp23 opened #448 "Differing url for sprites in the API vs. what's shown in documentation"
<img width="1434" alt="Screen Shot 2019-09-16 at 6 32 21 PM" src="https://user-images.githubusercontent.com/52013691/65004198-6e6d2080-d8b0-11e9-9b5b-73d9a603c56b.png">
<img width="1437" alt="Screen Shot 2019-09-16 at 6 31 44 PM" src="https://user-images.githubusercontent.com/52013691/65004199-6e6d2080-d8b0-11e9-96bf-e4958f71d615.png">

The documentation needs to be updated with the correct URL fo

[2019-09-17 08:48] phalt commented on #448
Yep, it's out of date. But also if you're hard coding this kind of stuff you're making a mistake. Consider the API format to be the truest format and just read the values you get back.

[2019-09-17 20:55] dillonp23 commented on #448
Thanks for the advice! I'm brand new to programming and I discovered this while completing a project. It was a learning lesson though, so now I can apply this knowledge to future projects. Thanks for the response!

[2019-09-18 17:55] caerulius commented on #442
This is by design. You need to map the `effect_chance` value into the effect or short_effect string after querying the API. You can see the value in your screenshot, for Ancient Power (move id 246), the value is 10. A simple regex for any move you query should suffice.

[2019-09-19 08:29] Naramsim commented on #447
@LouWii @victorwss Can you confirm that this bug is fixed also by upgrading to 2.1.11? There is a PR to check out if you want to test it locally.

[2019-09-19 17:12] NobleUplift commented on #292
Glad to see someone else thought of this before I did @laurenceHR! I got back into my Blue Version last year and beat it for the first time since childhood, working on my Red Version right now, and I hate using Bulbapedia to look up information on mobile. Takes way too long to load.

How's development of your Alexa Skill going?

[2019-09-20 09:27] phalt commented on #448
Nice one @dillonp23 - glad it helped! Good luck with your future programming endeavours

[2019-09-26 01:29] LouWii commented on #447
Hey @Naramsim ! Sorry for the delay.

Yup, I was able to run all the setup and build the DB with Django 2.1.11 👍

[2019-09-30 06:09] #442 closed

[2019-09-30 19:07] lkreimann opened #450 "README has a broken link to CONTRIBUTING.md"
Hi all :)

The [README](https://github.com/PokeAPI/pokeapi/blob/master/README.md) of the project has a broken link to the [CONTRIBUTING.md](https://github.com/PokeAPI/pokeapi/blob/master/CONTRIBUTING.md) in the Section [Contributing](https://github.com/PokeAPI/pokeapi#contributing) right above the photos of the contributors.

The link points to https://github.com/PokeAPI/pokeapi/blob/master/blob/m

[2019-10-02 20:53] #450 closed

[2019-10-12 10:24] ks129 opened #452 "Add possibility to get Pokemon evolution easier"
Please add possibility to make requests like this:
https://pokeapi.co/api/v2/evolution/{pkmn ID or name}/

This would return:
evo_from
evo_from_reqs
evo_to
evo_to_req
evo_mega
evo_form

Please add this. Currenly it's so hard to get specific pokemon evo from and evo to.

[2019-10-12 18:47] Selim042 commented on #452
Something like this? (probably more fleshed out objects)
[code]

[2019-10-13 04:27] Naramsim commented on #452
Hello, currently no one is developing new features. We are currently a bit blocked. If you want new features you have to build them by yourself and then submit a PR.

Sorry

[2019-10-13 05:31] ks129 commented on #452
Yes, I mean something like @Selim042 writed. I try to make this myself, but I think this fail, due I don't know coding enough good for this.

[2019-10-21 15:51] mattinger opened #453 "Return sprites in pokemon list"
The current /pokemon endpoint returns only the name and url for the various pokemon.  This makes it extremely difficult to present the user with a list of pokemon along with an icon to represent it.

In order to do that you'd have to load each pokemon individually, and then pick which sprite you'd like to show.  This would overburden the api, and tax the system resources of the device trying to sh

[2019-10-24 23:16] seelker opened #454 "Missing some Sprites"
Hello all,

It seems that some sprites ressources are missing:

Tested from:
https://pokeapi.co/api/v2/pokemon/806/

![image](https://user-images.githubusercontent.com/2650089/67531976-f7a02000-f6c4-11e9-9af7-a1d8b509316e.png)

Is this a source issue?

[2019-10-28 21:02] Dillonzer commented on #454
I imagine this should go under the https://github.com/PokeAPI/sprites repo. It's a seperate repo that houses all the sprites.